th.sort-des:after {
  content: ' \25BC';
}

th.sort-asc:after {
  content: ' \25B2';
}

.topPagination {
  .textBetweenButtons {
    opacity: 1.00 !important;
  }

  display:flex;
  align-items:center;
  justify-content:center;
}

.tableMainToolbar {
  .form-group {
    margin-bottom: 5px;
  }
}
