th.sort-des:after {
  content: ' \25BC';
}

th.sort-asc:after {
  content: ' \25B2';
}

.cbioportal-frontend .table > thead > tr > th.multilineHeader {
  vertical-align: top;
  line-height: 1.1;
  padding-bottom: 4px;
}

.topPagination {
  .textBetweenButtons {
    opacity: 1.00 !important;
  }

  display:flex;
  align-items:center;
  justify-content:center;
}

.tableMainToolbar {
  .form-group {
    margin-bottom: 5px;
  }
}
