th.sort-des:after {
    content: ' \25BC';
}

th.sort-asc:after {
    content: ' \25B2';
}

.cbioportal-frontend .table > thead > tr > th.multilineHeader {
    vertical-align: top;
    line-height: 1.1;
    padding-bottom: 4px;
}

.topPagination {
    .textBetweenButtons {
        opacity: 1 !important;
    }

    display: flex;
    align-items: center;
    justify-content: center;
}

.tableMainToolbar {
    .form-group {
        margin-bottom: 5px;
    }
}

.cbioportal-frontend .table > tbody > tr > td.columnResizer,
.cbioportal-frontend .table > thead > tr > td.columnResizer {
    width: 2px;
    border-right: #ccc 1px solid;
    border-left: #ccc 1px solid;
    padding: 0 !important;
}
