.groupPill {
    margin: 0px 5px;
    a {
        background: rgb(238, 238, 238);
        border-radius: 4px;
        padding: 3px;
    }
    .active {
        background: #3786C2;
        color: #fff;
    }
   
}