.groupPill {
    padding: 2px 5px;
    border-radius: 5px;
    color: $study-view-primary-color;
    background-color: white;
    border: 1px solid $study-view-primary-color;
    cursor: pointer;
    margin: 0 5px;
}

.groupPill.active {
    background-color: $study-view-primary-color;
    color: #fff;
}

.main {
    margin: 10px;
}

.header {
    display: flex;
    align-items: center;
    margin: 10px;
    font-size: 14px;
}

.sub {
    font-style: italic;
    font-size: 10px;
}

.groups {
    display: flex;
}

$selectHeight: 30px;
$selectHeightInner: $selectHeight - 2px;

.clinicalAttributeTab{
    :global(.Select) {
        width: 350px;
        height: $selectHeight;

        .Select-control {
            height:$selectHeightInner;
        }

        .Select-input {
            height:$selectHeightInner;
            input {
                padding: 0px 5px;
                line-height: $selectHeightInner;
            }
        }

        .Select-value {
          line-height: $selectHeightInner !important;

          .Select-value-label {
            line-height: $selectHeightInner;
          }
        }

        .Select-menu-outer {
            width: 350px;
            max-height: 400px;
        }

        .Select-placeholder {
            line-height: $selectHeightInner;
        }

        .Select-menu {
            max-height: 398px; // needs to be 2 less than Select-menu-outer height to not hide border. Irrelevant
                              //    as long as & > div > div:nth-child(2) max-height is less
            overflow:hidden;

            & > div > div:nth-child(2){
                max-height:350px !important;
                overflow-x:hidden !important;
                overflow-y:scroll !important;
            }
        }
    }
}