.groupPill {
    padding: 5px;
    border-radius: 5px;
    color: $study-view-primary-color;
    background-color: white;
    border: 1px solid $study-view-primary-color;
    cursor: pointer;
    margin: 0 5px;
}

.groupPill.active {
    background-color: $study-view-primary-color;
    color: #fff;
}