.groupPill {
    padding: 2px 5px;
    border-radius: 5px;
    color: $study-view-primary-color;
    background-color: white;
    border: 1px solid $study-view-primary-color;
    cursor: pointer;
    margin: 0 5px;
}

.groupPill.active {
    background-color: $study-view-primary-color;
    color: #fff;
}

.main {
    margin: 10px;
}

.header {
    display: flex;
    align-items: center;
    margin: 10px;
    font-size: 14px;
}

.sub {
    font-style: italic;
    font-size: 10px;
}

.groups {
    display: flex;
}