{
  "presets": ["es2015", "stage-0", "react"],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    },
    "production": {
      "presets": []
    },
    "test": {
      "presets": [],
      "compact": false,
      "plugins": [



        [
          "istanbul", {

          "exclude": [
            "**/*.spec.js"
          ]
        }
        ],

        ["rewire",{
          "exclude": [
            "**/*.spec.js"
          ]
        }]

      ]
    }
  }
}
