*png
*eps
*pdf
*ai
*svg
*map
*min.js
*min.css
*sh
*yml
*json
*md
*bak
*txt
*gif
*pegjs
*.template
*.ejs
*module.scss.d.ts
**/generated/**
src/shared/lib/oql/oql-parser.js
packages/**/dist/**
yarn.lock
.prettierignore
.DS_Store
.gitignore
.kodiak.toml
*.seg
