<!DOCTYPE html>
<html class="cbioportal-frontend">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <link rel="icon" href="/images/cbioportal_icon.png"/>
    <title>cBioPortal for Cancer Genomics</title>
    <script>

        // don't change http to https on netlify, since it only supports ssl
        // (creates infinite redirect) everywhere else do use http, cause that's
        // what we usually want to use
        if (!window.location.hostname.includes("netlify") && window.location.protocol.includes("https")) {
            window.location.href = window.location.href.replace(/^https/,"http");
        }

        window.devContext = true;
            // @ts-ignore: ENV_* are defined in webpack.config.js
           // genomeNexusApiUrl : ENV_GENOME_NEXUS_URL,
        window.frontendConfig = {
            //configurationServiceUrl:"http://localhost:8080/beta/config_service.jsp",
            //frontendUrl:'//'+window.location.host + '/',
            //apiRoot: 'http://www.cbioportal.org/rc',
            //sessionServiceUrl:'http://www.cbioportal.org/rc/api-legacy/proxy/session/',
            // custom_tabs:[
            //     {
            //         "title": "Custom Tab",
            //         "location": "RESULTS_PAGE",
            //         "mountCallbackName": "renderCustomTab1",
            //         "pathsToJs":["http:127.0.0.1:8081/customTab1.js"],
            //         "showWithMultipleStudies": true,
            //         "customParameters": { example:1 },
            //         "unmountOnHide":false
            //     }
            // ],
            serverConfig:{

            }

        };

    </script>
    <script src="/reactapp/common.bundle.js"></script>

    <link href="/reactapp/prefixed-bootstrap.min.css" rel="stylesheet"></link>
</head>
<body>

<div id="reactRoot"></div>

</body>
</html>
