<!DOCTYPE html>
<html class="cbioportal-frontend">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <link rel="icon" href="images/cbioportal_icon.png"/>
    <title>cBioPortal for Cancer Genomics</title>
    <script>

        if (window.location.protocol.includes("https")) window.location.href = window.location.href.replace(/^https/,"http");

        window.devContext = true;
        window.defaultRoute = "/spa";
        window.frontendConfig = {
            configurationServiceUrl:"http://localhost:8080/config_service.jsp",


            customTabs:[
                {
                    "title": "Custom Tab",
                    "location": "RESULTS_PAGE",
                    "mountCallbackName": "renderCustomTab1",
                    "pathsToJs":["http://127.0.0.1:8080/customTab1.js"],
                    "showWithMultipleStudies": true,
                    "customParameters": { example:1 },
                    "unmountOnHide":false
                }
            ]
        };

        window.frontendConfigOverride = {
            frontendUrl:'//'+window.location.host + '/',
            apiRoot:'www.cbioportal.org/rc'
        };

    </script>
    <script>
        window.frontendConfig.customTabs.forEach(function(tab){
            if (tab.pathsToJs) {
                tab.pathsToJs.forEach(function(src){
                    document.write('<scr'+'ipt type="text/javascript" src="'+ src +'"></sc'+'ript>');
                });
            }
        });
    </script>
    <script src="reactapp/common.bundle.js"></script>
    <link href="reactapp/prefixed-bootstrap.min.css" rel="stylesheet"></link>
</head>
<body class="cbioOnePageApp">


<body class="twoColumn">

    <div id="reactRoot"></div>

</body>
</html>
