<!DOCTYPE html>
<html class="cbioportal-frontend">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <link rel="icon" href="/images/cbioportal_icon.png"/>
    <title>cBioPortal for Cancer Genomics</title>
    <script>

        if (window.location.protocol.includes("https")) window.location.href = window.location.href.replace(/^https/,"http");

        window.devContext = true;
        window.defaultRoute = "/spa";

        window.frontendConfig = {
            configurationServiceUrl:"http://www.cbioportal.org/beta/config_service.jsp",
            frontendUrl:'//'+window.location.host + '/',
            apiRoot: 'http://www.cbioportal.org/rc',
            sessionServiceUrl:'http://www.cbioportal.org/rc/api-legacy/proxy/session/',
            disabledTabs:[],
            skinShowDataSetsTab:true,
            skinShowWebAPITab:true,
            skinShowRmatLABTab:true,
            skinShowTutorialsTab:true,
            skinShowAboutTab:true,
            skinIsMarkdownDocumentation:true,
            skinDocumentationBaseUrl:"https://raw.githubusercontent.com/cbioportal/cbioportal/release-1.15.0/docs",
            googleAnalyticsProfile:'UA-85438068-3',
            urlLengthThresholdForSession:10,
            // customTabs:[
            //     {
            //         "title": "Custom Tab",
            //         "location": "RESULTS_PAGE",
            //         "mountCallbackName": "renderCustomTab1",
            //         "pathsToJs":["http://127.0.0.1:8080/customTab1.js"],
            //         "showWithMultipleStudies": true,
            //         "customParameters": { example:1 },
            //         "unmountOnHide":false
            //     }
            // ]

        };

    </script>
    <script>
        window.frontendConfig.customTabs && window.frontendConfig.customTabs.forEach(function(tab){
            if (tab.pathsToJs) {
                tab.pathsToJs.forEach(function(src){
                    document.write('<scr'+'ipt type="text/javascript" src="'+ src +'"></sc'+'ript>');
                });
            }
        });
    </script>
    <script src="/reactapp/common.bundle.js"></script>

    <script>

    </script>

    <link href="/reactapp/prefixed-bootstrap.min.css" rel="stylesheet"></link>
</head>
<body>

<div id="reactRoot"></div>

</body>
</html>
