<!DOCTYPE html>
<html class="cbioportal-frontend">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script>
        window.devContext = true;
        window.defaultRoute = "/home";
        // uncomment to enable Darwin internal MSKCC service patient view link
        // uses checkDarwinAccess.do service from cbioportal/cbioportal
        // window.enableDarwin = true;

        // Set default API in case none is specified in .env
        __API_ROOT__ = 'www.cbioportal.org/beta';
//        __HOTSPOTS_API_ROOT__ = 'cbioportal-rc.herokuapp.com/proxy/cancerhotspots.org';
//        __3D_HOTSPOTS_API_ROOT__ = 'cbioportal-rc.herokuapp.com/proxy/3dhotspots.org/3d';
//        __ONCOKB_API_ROOT__ = 'cbioportal-rc.herokuapp.com/proxy/oncokb.org/api/v1';
        window.showCivic = true;
        window.showHotspot = true;
        window.showMyCancerGenome = true;
        window.showOncoKB = true;
        window.oncoKBApiUrl = "oncokb.org/api/v1";
        window.showGenomeNexus = true;
        window.genomeNexusApiUrl = 'genomenexus.org';
        window.skinBlurb = 'The cBioPortal for Cancer Genomics provides <b>visualization</b>, <b>analysis</b> and <b>download</b> of large-scale cancer genomics data sets.  <p>Please adhere to <u><a href="http://cancergenome.nih.gov/abouttcga/policies/publicationguidelines"> the TCGA publication guidelines</a></u> when using TCGA data in your publications.</p> <p><b>Please cite</b> <a href="http://www.ncbi.nlm.nih.gov/pubmed/23550210">Gao et al. <i>Sci. Signal.</i> 2013</a> &amp;  <a href="http://cancerdiscovery.aacrjournals.org/content/2/5/401.abstract">Cerami et al. <i>Cancer Discov.</i> 2012</a> when publishing results based on cBioPortal.</p>';
        window.skinExampleStudyQueries = [
            'tcga',
            'tcga -provisional',
            'tcga -moratorium',
            'tcga OR icgc',
            '-"cell line"',
            'prostate mskcc',
            'esophageal OR stomach',
            'serous',
            'breast',
        ];
        window.skinDatasetHeader = 'The portal currently contains data from the following cancer genomics studies.  The table below lists the number of available samples per data type and tumor.'
        window.skinDatasetFooter = 'Data sets of TCGA studies were downloaded from Broad Firehose (http://gdac.broadinstitute.org) and updated monthly. In some studies, data sets were from the TCGA working groups directly.';
        window.skinRightNavShowDatasets = true;
        window.skinRightNavShowExamples = true;
        window.skinRightNavShowTestimonials = true;
    </script>
    <script src="reactapp/common.bundle.js"></script>
    <link href="reactapp/prefixed-bootstrap.min.css" rel="stylesheet"></link>
</head>
<body class="cbioOnePageApp">
    <span id="reactHeader"></span>
    <div id="mutations_div_prototype"></div>
    <div id="clinical_div_prototype"></div>
    <div id="reactRoot"></div>
</body>
</html>
