<!DOCTYPE html>
<html class="cbioportal-frontend">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script>
        window.devContext = true;
        window.defaultRoute = "/patient";
        // TODO: this is patient view link injected through JSP, connecting to
        // another system (DARWIN) at MSKCC. This prolly be a service further
        // down the line.
        // Uncomment to test
        // window.darwinAccessUrl = "https://en.wikipedia.org/wiki/Charles_Darwin";

        // Set default API in case none is specified in .env
//        __API_ROOT__ = 'cbioportal-rc.herokuapp.com/api';
//        __HOTSPOTS_API_ROOT__ = 'cbioportal-rc.herokuapp.com/proxy/cancerhotspots.org';
//        __3D_HOTSPOTS_API_ROOT__ = 'cbioportal-rc.herokuapp.com/proxy/3dhotspots.org/3d';
//        __ONCOKB_API_ROOT__ = 'cbioportal-rc.herokuapp.com/proxy/oncokb.org/api/v1';
    </script>
    <script src="reactapp/common.bundle.js"></script>
    <link href="reactapp/prefixed-bootstrap.min.css" rel="stylesheet"></link>
</head>
<body class="cbioOnePageApp">
    <span id="reactHeader"></span>
    <div id="mutations_div_prototype"></div>
    <div id="clinical_div_prototype"></div>
    <div id="reactRoot"></div>
</body>
</html>
