<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script>
        window.defaultRoute = "/patient";
        // Set default API in case none is specified in .env
        __API_ROOT__ = 'www.cbioportal.org/api-legacy';
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body class="cbioOnePageApp">
    <span id="reactHeader"></span>
    <div id="clinical_div"></div>
    <div id="reactRoot"></div>
</body>
</html>
