.query-summary {
  display:flex;
  justify-content: space-between;

  .query-summary__leftItems {
    display:flex;
    align-items:center;

    > div {
      margin-right:10px;
    }

    h3 {
      margin-bottom:0px;
    }

  }

  .query-summary__rightItems {
    display:flex;
    align-items:center;
  }

}

.query-summary {
  font-size:13px;
  h3 {
    max-width:1000px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
  }

}

@media only screen and (max-width: 1400px) {
  .query-summary {
    font-size:12px;
    h4 {
      max-width:800px;
    }
  }
}


@media only screen and (max-width: 1280px) {
  .query-summary {
    h4 {
      max-width:600px;
    }
  }
}