.tables-container {
    margin-top: 30px;
}

.downloadCopyTable {
    td {
        vertical-align: middle !important;
    }
}

.noAlterationSpan {
    white-space: nowrap;
    color: #737373;
}

.notProfiledSpan {
    white-space: nowrap;
    color: #737373;
    text-decoration: line-through;
}

.alterationSpan {
    white-space: nowrap;
    font-weight: bold;
}

.tooltip {
    max-width: 300px;
}

.infoIcon {
    margin-left: 4px;
    color: #555;
}
