.tooltip {
    max-height: 400px;
    max-width: 600px;
    overflow: auto;
}

.icon {
    .marginLeft {
        margin-left: 5px;
    }
    .marginRight {
        margin-right: 5px;
    }
}

.powered {
    padding-right: 9px;
    text-align: right;
    font-size: 13px;
}
