.annotation-item {
  width: 22px;
  height: 24px;
  float: left;
  line-height: 24px;
  display: inline-block;
  margin-top: -4px;
  margin-bottom: -4px;
}

.annotation-item-text {
  display: inline-block;
  font-size: 9px;
  width: 22px;
  cursor: default;
}

.annotation-item-error {
  width: 16px;
  height: 18px;
  float: left;
  line-height: 22px;
  display: inline-block;
}

.annotation-item img {
  margin: 4px 0 2px 6px;
}
