.oncokb-card .item-list i.fa-chevron-down, .oncokb-card .item-list i.fa-chevron-up {
    color: #ffa500;
    margin-right: 0;
}

div.oncogenicity, div.mutation-effect {
    padding: 5px 10px 0 10px;
}

.oncokb-card .collapsible-header {
    border-top: 1px solid #ddd
}

.oncokb-card .oncokb-card-levels-collapse {
    border-bottom: 1px solid #ddd
}

.oncokb-card table.treatments thead th {
    border-bottom: 2px solid #1c75cd;
}

.oncokb-card .treatments-wrapper {
    max-height: 250px;
    overflow-x: auto;
}
