.oncokb-card {
  margin: auto;
  width: 500px;
  font-size: 14px;
  line-height: 18px; }
.oncokb-card * {
  border-collapse: collapse;
  box-sizing: border-box; }
.oncokb-card ul {
  padding: 0; }
.oncokb-card ul li {
  list-style-type: none; }
.oncokb-card .secondary-content {
  float: right;
  color: #26a69a; }
.oncokb-card .level-icon {
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-size: 200px;
  display: inline-block !important;
  margin-top: 3px; }
.oncokb-card li > .level-icon {
  float: left;
  margin-top: 0;
  margin-right: 5px; }
.oncokb-card .level-1 {
  background-position: -15px -21px; }
.oncokb-card .level-2A {
  background-position: -40px -21px; }
.oncokb-card .level-2B {
  background-position: -65px -21px; }
.oncokb-card .level-3A {
  background-position: -90px -21px; }
.oncokb-card .level-3B {
  background-position: -115px -21px; }
.oncokb-card .level-4 {
  background-position: -140px -21px; }
.oncokb-card .level-R1 {
  background-position: -15px -51px; }
.oncokb-card .level-R2 {
  background-position: -40px -51px; }
.oncokb-card .level-R3 {
  background-position: -65px -51px; }
.oncokb-card table, .oncokb-card th, .oncokb-card td {
  border: none; }
.oncokb-card table {
  width: 100%;
  display: table; }
.oncokb-card table.bordered > thead > tr,
.oncokb-card table.bordered > tbody > tr {
  border-bottom: 1px solid #d0d0d0; }
.oncokb-card table.striped > tbody > tr:nth-child(odd) {
  background-color: #ddd; }
.oncokb-card table.striped > tbody > tr > td {
  border-radius: 0; }
.oncokb-card table.highlight > tbody > tr {
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease; }
.oncokb-card table.highlight > tbody > tr:hover {
  background-color: #ddd; }
.oncokb-card table.centered thead tr th, .oncokb-card table.centered tbody tr td {
  text-align: center; }
.oncokb-card thead {
  border-bottom: 1px solid #d0d0d0; }
.oncokb-card td, .oncokb-card th {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px; }
.oncokb-card .collapsible {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin: 0.5rem 0 1rem 0;
  padding: 0; }
.oncokb-card .collapsible-header {
  cursor: pointer;
  min-height: 2.6rem;
  line-height: 2.6rem;
  padding: 0 1rem;
  background-color: white;
  border-bottom: 1px solid #ddd; }
.oncokb-card .collapsible-header i {
  width: 2rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
  float: left;
  text-align: center;
  margin-right: 1rem; }
.oncokb-card .collapsible-body {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box; }
.oncokb-card .collapsible-body p {
  margin: 0;
  padding: 2rem; }
.oncokb-card .collapsible.popout {
  border: none;
  box-shadow: none; }
.oncokb-card .collapsible.popout > li {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 0 24px;
  -webkit-transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
.oncokb-card .collapsible.popout > li.active {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  margin: 16px 0; }
.oncokb-card .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 48px;
  background-color: #064785;
  margin: 0 auto;
  width: 100%;
  white-space: nowrap; }
.oncokb-card .tabs .tab {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: block;
  float: left;
  text-align: center;
  line-height: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  letter-spacing: .8px;
  width: 15%;
  min-width: 80px; }
.oncokb-card .tabs .tab a {
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: color .28s ease;
  transition: color .28s ease; }
.oncokb-card .tabs .tab a:hover {
  color: white; }
.oncokb-card .tabs .tab.disabled a {
  color: white;
  cursor: default; }
.oncokb-card .tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #ffa500;
  will-change: left, right; }
.oncokb-card .refs img {
  margin: auto;
  display: block;
  margin-top: 10px; }
.oncokb-card .refs ul.list-group {
  max-height: 85px;
  overflow-y: auto; }
.oncokb-card .mutation-effect .refs ul.list-group {
  max-height: 200px; }
.oncokb-card .list-group-item {
  border: 0;
  padding: 5px;
  line-height: 16px;
  font-size: 13px; }
.oncokb-card .list-group-item a {
  color: #1c75cd; }
.oncokb-card .list-group-item:not(:first-child) {
  border-top: 1px solid #d0d0d0; }
.oncokb-card .list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }
.oncokb-card .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
.oncokb-card .oncogenicity .title {
  line-height: 22px;
  font-size: 13px;
  width: 100%;
  float: left;
  color: white; }
.oncokb-card .oncogenicity .title-content {
  width: 100%;
  float: left;
  line-height: 23px;
  color: orange;
  font-size: 15px;
  margin: -3px 0;
  text-transform: none; }
.oncokb-card .oncogenicity .title-content .fa.fa-book {
  color: #fff; }
.oncokb-card .oncogenicity .table {
  font-size: 13px;
  text-align: center;
  margin-bottom: 0; }
.oncokb-card .oncogenicity .table thead > tr > th {
  padding: 0 0 3px 0; }
.oncokb-card .oncogenicity .table tbody > tr > td {
  padding: 1px 0px;
  vertical-align: middle; }
.oncokb-card .mutation-effect .title {
  color: white;
  font-size: 8px;
  line-height: 22px;
  font-size: 13px;
  width: 100%;
  float: left; }
.oncokb-card .mutation-effect .title-content {
  width: 100%;
  float: left;
  line-height: 23px;
  margin: -3px 0;
  color: orange;
  font-size: 15px;
  text-transform: none; }
.oncokb-card .mutation-effect .fa.fa-book {
  color: #fff; }
.oncokb-card .disclaimer {
  color: grey;
  font-style: italic;
  padding: 5px 10px; }
.oncokb-card .item-list i.glyphicon-chevron-down, .oncokb-card .item-list i.glyphicon-chevron-up {
  color: #ffa500;
  margin-right: 0; }
.oncokb-card .footer {
  width: 100%;
  padding-top: 3px;
  line-height: 32px;
  height: 32px; }
.oncokb-card .footer .oncokb-logo {
  height: 19px;
  margin-left: 10px;
  margin-top: -4px; }
.oncokb-card .footer .feedback {
  margin-right: 10px;
  font-size: 12px; }
.oncokb-card .tabs {
  height: 45px; }
.oncokb-card .tabs .tab {
  line-height: 22px;
  height: 45px; }
.oncokb-card .tab-content > .tab-pane {
  padding: 5px 10px 0 10px; }
.oncokb-card .enable-hover > a:hover {
  opacity: 0.7;
  cursor: pointer; }
.oncokb-card li.tab.enable-hover.active {
  border-bottom: 3px solid #ffa500; }
.oncokb-card .thead {
  border: 0; }
.oncokb-card .collapsible-body p {
  padding: 0 1rem; }
.oncokb-card .collapsible {
  border-left: 0;
  border-right: 0;
  box-shadow: none;
  margin: 0; }
.oncokb-card td, .oncokb-card th {
  text-align: center; }
.oncokb-card th {
  font-size: 12px; }
.oncokb-card td {
  font-size: 13px; }
.oncokb-card table thead th {
  border-bottom: 2px solid #1c75cd; }
.oncokb-card .levels {
  padding: 5px 10px;
  font-size: 12px; }
.oncokb-card .levels ul {
  line-height: 8px; }
.oncokb-card .levels li {
  line-height: 16px;
  margin: 3px 0;
  display: inline-block; }
.oncokb-card .levels li i {
  float: left;
  width: 16px; }
.oncokb-card .levels li > span {
  float: left;
  width: calc(100% - 22px); }
.oncokb-card .tip-header {
  line-height: 22px;
  font-size: 22px;
  background-color: #1c75cd;
  color: #fff;
  text-align: center;
  padding: 5px 10px; }
.oncokb-card .grey-out {
  opacity: 0.4 !important; }
.oncokb-card .additional-info {
  padding: 5px 10px;
  line-height: 20px;
  border-bottom: 1px solid lightgrey; }

.qtip.qtip-oncokb-card-refs {
  color: black;
  max-width: 400px;
  border: 0;
  border-radius: 0;
  font-size: 11px; }
.qtip.qtip-oncokb-card-refs * {
  box-sizing: border-box; }
.qtip.qtip-oncokb-card-refs ul.list-group {
  max-height: 200px;
  overflow-y: auto; }
.qtip.qtip-oncokb-card-refs .list-group-item {
  border: 0;
  padding: 5px;
  line-height: 16px; }
.qtip.qtip-oncokb-card-refs .list-group-item a {
  color: #1c75cd; }
.qtip.qtip-oncokb-card-refs .list-group-item:not(:first-child) {
  border-top: 1px solid #d0d0d0; }
.qtip.qtip-oncokb-card-refs .list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }
.qtip.qtip-oncokb-card-refs .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.qtip.oncokb-card-qtip {
  border: 0;
  max-width: 500px; }
.qtip.oncokb-card-qtip .qtip-content {
  padding: 0; }
.qtip.oncokb-card-qtip .oncogenic-loading {
  margin: 5px 9px; }