.level-icon {
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-size: 200px;
  display: inline-block !important;
  margin-top: 3px; }
.level-1 {
  background-position: -15px -21px; }
.level-2A {
  background-position: -40px -21px; }
.level-2B {
  background-position: -65px -21px; }
.level-3A {
  background-position: -90px -21px; }
.level-3B {
  background-position: -115px -21px; }
.level-4 {
  background-position: -140px -21px; }
.level-R1 {
  background-position: -15px -51px; }
.level-R2 {
  background-position: -40px -51px; }
.level-R3 {
  background-position: -65px -51px; }