.trial-card {
  margin: auto;
  width: 450px;
  font-size: 12px;
  line-height: 18px; }
.trial-card * {
  border-collapse: collapse;
  box-sizing: border-box; }
.trial-card ul {
  padding: 0; }
.trial-card .disclaimer {
  color: grey;
  font-style: italic;
  padding: 5px 10px; }
.trial-card .footer {
  width: 100%;
  padding-top: 3px;
  line-height: 32px;
  height: 32px;
  background: #333; }
.trial-card .footer .trial-logo {
  height: 32px;
  margin-left: 10px;
  margin-top: -3px;
  vertical-align: top; }
.trial-card .tip-header {
  white-space: nowrap;
  line-height: 14px;
  font-size: 14px;
  background-color: lightskyblue;
  color: white;
  text-align: center;
  padding: 1px 2px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.oncokb-card .enable-hover > a:hover {
  opacity: 0.8;
  cursor: pointer; }

.trial-card-content {
  max-height: 400px;
  overflow: auto;
}
.trial-card-gene,
.trial-card-variant {
  margin: 5px 9px;
}
.trial-card-trial-header {
  font-size: 15px;
  text-align: center;
  margin-bottom: 1px;
  padding: 3px 6px 3px;
  background: #FF6666;
  color: #FFF;
}
.trial-card-variant-description {
  padding: 3px 6px 3px;
  background: #ece3f2;
}
.trial-card-gene-name a,
.trial-card-variant-name a {
  font-weight: bold;
  color: #ece3f2;
}