
th.reactable-header-sortable {

  &:focus {outline:0;}

}

th.reactable-header-sort-desc:after {
  content: '\25B2';
  padding-left: 10px;
  padding-bottom: 5px;
}

th.reactable-header-sort-asc:after {
  content: '\25BC';
  padding-left: 10px;
  padding-bottom: 5px;
}