@import './variables.scss';
@import './custom-icons.scss';

/* locks scroll bar on to prevent horizontal jump when content render */
body {
  overflow-y:scroll;
  background:#f5f5f5 !important;
  text-align:left;
}

//get rid of blue border around active button
button:active, button:focus, div:focus, div:active {
  outline: none !important;
}

.posRelative {
  position:relative;
}

/* importants are necessary for override of legacy style */
.btn-default {
  background-image: linear-gradient(to bottom,#fff 0,#eee 100%) !important;
  color:$text-color !important;
}

/* fix for legacy style isses. makes it bootstrap */
#content .cbioportal-frontend {
  h4 {
    color: $text-color;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
  }
}

div {
  text-align:left;
}

a {
  cursor:pointer;
  text-decoration:none !important;
}

a:hover {
  text-decoration:underline !important;
}

/* Buttons */

.cta { // "Call To Action"
  background: linear-gradient(to bottom, #1f8cc5 50%, #1982b8 100%);
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-radius: 2px;
  color: rgba(255, 255, 255, 1);
  display: block;
  text-align: center;
  font: normal normal 500 11px/19px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 5px 10px;

  &:hover:not(:disabled) {
    cursor: pointer;
    background: linear-gradient(to bottom, #1982b8 50%, #1f8cc5 100%);
    color: #fff;
  }
  &:disabled {
    cursor: default;
    background: $lightGrey;
    border-bottom: 0;
    color: $darkGrey;
  }
}

.topBanner {
  @extend .portalWidth;
  margin:0 auto;
}

/* Tables */
th.reactable-header-sortable {

  &:focus {outline:0;}

}

th.reactable-header-sort-desc:after {
  content: '\25B2';
  padding-left: 10px;
  padding-bottom: 5px;
}

th.reactable-header-sort-asc:after {
  content: '\25BC';
  padding-left: 10px;
  padding-bottom: 5px;
}

.table-border-top .reactable-column-header {

  th {

  }

}

#content {
  margin-top:8px;
}

/* override for rc-tooltip */

.rc-tooltip {
  opacity:1 !important;

  &.hideTooltipArrow {
    .rc-tooltip-arrow {
      display:none;
    }
  }

}


.secondaryTabs {

  li {
    a {

      font-size: 12px;
      padding: 4px 6px !important;
      margin-right: 8px !important;
      text-decoration: none;

      &:hover {
        text-decoration: none !important;
      }

    }

    &.active a {
      background:#eee !important;
    }

  }

  .tab-content {
    margin-top:$standardMargin;
  }

}

.pillTabs {
  > .nav.nav-pills {

    margin-bottom:5px;

    li {
      a {
        background: #eee;
        border-top: none !important;
      }

      &.active a {
        background:$brand-primary;
        border-top:none !important;
        &:hover {
          color:#fff !important;
        }
      }
    }
  }

  li a {
    font-size: 12px;
    padding: 10px 6px !important;
    cursor: pointer;
    line-height: 0.8px;
  }

  .msk-tab {
    margin-top:10px;
  }

}

.mainTabs {

  > .nav {
    @extend .portalWidth;
    margin:0 auto;

    .active {
      a {
        border-top: 3px solid $brand-primary !important;
        padding-top: 9px;
      }
    }

  }

  > .tab-content {
    padding:20px 0 100px 0;
    background:#fff;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    margin-top:-1px;

    h4 {
      color:$brand-primary;
      margin-top:0px;
    }

    hr {
      margin-top:5px;
      margin-bottom:20px;
    }

    > .msk-tab {
      @extend .portalWidth;
      margin: 0 auto;
    }

  }

}

.urlError {
  width:500px;
  margin:0 auto;
  text-align:center;
  i.fa-warning {
    font-size:80px;
  }
  h3 {
    margin-bottom:20px;
  }
  ul {
    list-style:none;
    li {
      padding-bottom:7px;
    }
  }
}

.table tbody tr td {
  padding:3px 10px !important;
  border-top:none;
}

.table {
  margin-bottom: 5px;
}

.hiddenByPosition {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

// corrects for a problem with build of react-bootstrap and react-select (unicode corrupted when build on linux  machines)
.Select--multi .Select-value-icon {

  text-indent: -9999px;
  line-height: 0; /* Collapse the original line */

  &::after {
    content:"✖";
    text-indent: 0;
    display: block;
    line-height: initial; /* New content takes up original line height */
  }
}

.modal-header .close {
  &::before {
    content: "✖";
  }
  span {
    display:none;
  }
}

#mainColumn {
  padding: $gutterWidth 0;
}

.fixedWidth {
  #mainColumn {
    flex:1;
    padding-left:0;
    padding-right:0;
    line-height:26px;
  }

  .contentWrapper {

  }

  header {
    padding-left:0;
    padding-right:0;
  }

  &.twoColumn {
    .contentWrapper {
      //.contentWidth {
      //  padding-right: 0;
      //}
    }
  }

}

.twoColumn {
  #mainColumn {
    padding-right: $gutterWidth;
  }
  //.contentWrapper {
  //  .contentWidth {
  //    padding-right: 0;
  //  }
  //}
}

.forceHeaderStyle {
  margin-top:30px !important;
  font-family:Helvetica Neue, Helvetica, Arial, sans-serif !important;
  margin-bottom:10px !important;
  color:$headerColor !important;
  &:first-child {
    margin-top:0 !important;
  }
}

.contentWrapper {

  background:#fff;
  min-height:500px;

  //header styles
  h1, h2, h3, h4 {
    @extend .forceHeaderStyle;
  }

  h1 {
    font-size:24px;
  }

  h2 {
    font-size:20px;
  }

  h3 {
    font-size:16px;
  }


  #rightColumn {
    background:$lightBlue;
    padding:$gutterWidth 0;
    font-size:12px;
    flex:0 0 325px;
    border-right:1px solid $borderColor;
    border-left:1px solid $borderColor;

    .rightBarSection {
      h3 {
        border-bottom:1px solid #ddd;
        margin: 0 0 4px 0;
        padding-bottom:4px;
        color:$brand-primary;
      }
      padding: 0 $gutterWidth 10px $gutterWidth;
    }

    .exampleQueries {
      ul {
        margin:0 0 0 15px;
        padding:0;

        li {
          color:#cfd9ea;
          text-indent:-3px;
        }

      }
    }

  }

}

.fixedWidth .contentWidth {
  width:1200px;
  padding-left:20px;
  padding-right:20px;
  margin:0 auto;
}

.noMargin {
  .contentWidth {
    padding-left: 0;
    padding-right: 0;
  }
  header {
    padding-left:20px;
    padding-right:20px;
  }
}

.contentWidth {
  margin:0 auto;
  display:flex;
  justify-content:space-between;
  padding-left:20px;
  padding-right:20px;

  #mainColumn {
    flex:1;
    padding-left:0;
  }
}

.alert {
  border-color:#ddd;
  color:inherit;
}

.alert-info {
  background:$lightBlue;
}

.framedImage {
  margin:20px 0;
  border:1px solid #eee !important;
  border-radius:$cornerBorderRadius;
  padding:10px;
  display:block;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.21);
}

.newsPage {
  #mainColumn {
    li {
      margin-bottom:5px;
      img {
        @extend .framedImage;
      }
      ul {
        margin-top:5px;
      }
    }
  }
}



.borderedChart {
  padding:10px;
  border-radius:$cornerBorderRadius;
  border:1px dashed $borderColor;
  position:relative;
  max-width:100%;

  .chartDownloadButtons {
    position:absolute;
    right:10px !important;
    top:10px !important;
    z-index:10;
  }

}

h3.hr {
  margin:0 30px;
  border:1px dashed $borderColor !important;
}

.popover {

  &.cbioTooltip {

    position:absolute !important;
    display:block !important;
    max-width:600px !important;
    div:last-child {
      white-space: nowrap;
    }

    p {
      margin-bottom:0 !important;
    }

    .popover-content, p, td {
      font-size:11px !important;
    }
  }

}

.inlineBlock {
  display:inline-block;
}

