
/* locks scroll bar on to prevent horizontal jump when content render */
body {
  overflow-y:scroll;
}

/* fix for legacy style isses. makes it bootstrap */
#content .cbioportal-frontend {
    h4 {
     font-size:18px;
     margin-top:10px;
     margin-bottom:10px;
      font-weight:500;
      line-height:1.1;
      color:$text-color;
  }
}

th.reactable-header-sortable {

  &:focus {outline:0;}

}

th.reactable-header-sort-desc:after {
  content: '\25B2';
  padding-left: 10px;
  padding-bottom: 5px;
}

th.reactable-header-sort-asc:after {
  content: '\25BC';
  padding-left: 10px;
  padding-bottom: 5px;
}

.table-border-top .reactable-column-header {

  th {
    border-top:1px dashed #ddd !important;
  }

}

#content {
  margin-top:8px;
}

/* override for rc-tooltip */

.rc-tooltip {
  opacity:1 !important;
}

.mainTabs > .tab-content {
  padding-top:20px;
}
