
/* fix for legacy style isses. makes it bootstrap */
#content .cbioportal-frontend {
    h4 {
     font-size:18px;
     margin-top:10px;
     margin-bottom:10px;
      font-weight:500;
      line-height:1.1;
      color:$text-color;
  }
}

th.reactable-header-sortable {

  &:focus {outline:0;}

}

th.reactable-header-sort-desc:after {
  content: '\25B2';
  padding-left: 10px;
  padding-bottom: 5px;
}

th.reactable-header-sort-asc:after {
  content: '\25BC';
  padding-left: 10px;
  padding-bottom: 5px;
}

.reactable-column-header {

  th {
    border-top:1px dashed #ddd !important;
  }

}

#content {
  margin-top:8px;
}


.Select-control, .Select-control:hover {
  background: rgba(0, 0, 0, 0.1) !important;
  border: 0px !important;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1) !important;
  border-radius: 2px !important;
  color: rgba(255, 255, 255, 0.85) !important;
  height: 30px !important;
  font-weight: 300;

  .Select-input {
    height: 30px;
    font-weight: 300;
  }
}

.Select-placeholder, .Select-clear-zone,
.has-value.Select--single > .Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: rgba(255, 255, 255, 0.85) !important;
  font-weight: 300;
}

.Select-placeholder, .Select--single > .Select-control .Select-value {
  line-height: 30px !important;
}

.Select-arrow {
  border-color: rgba(255, 255, 255, 0.85) transparent transparent !important;
}