// e.g. $mutationColor:#990000; will then be usable in any local scss file or css module

/* Colors */
$mutationColor: blue;

$cream: #F6F4EF;
$darkCream: #ECE7DB;
$darkestCream: #DAD1BC;
$darkBrown: #585755;

.portalWidth{
  padding-left:20px;
  padding-right:20px;
  min-width:800px;
}
