.carouselButton {
    color: #e0e0e0;

    &.active {
        color: black;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }

        &:active {
            opacity: 0.9;
        }
    }
}

:global(.cbioportal-frontend) h1.blackHeader,
h2.blackHeader,
h3.blackHeader,
h4.blackHeader,
h5.blackHeader,
h6.blackHeader {
    color: black !important;
}
