.germline {
  background: #FFFFCC;
  color: #000000;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  font-size: small;
}

.somatic {
  background: #CCFFFF;
  color: #000000;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  font-size: small;
}

.unknown {
  color: #9D9D9D;
  font-size: xx-small;
}
