.missense-mutation {
    color: #008001;
    font-weight: bold;
}
.trunc-mutation {
    color: #000000;
    font-weight: bold;
}
.inframe-mutation {
    color: #983405;
    font-weight: bold;
}
.other-mutation {
    color: #d029b5;
    font-weight: bold;
}
.default-mutation {
    color: #bb0000;
    font-weight: bold;
}
.fusion {
    color: #8b00c8;
    font-weight: bold;
}
.splice {
    color: #916d1d;
    font-weight: bold;
}
