.treeNodeList {
  padding-left: 18px;
}

.treeNodeItem {
  list-style-type: none;
}

.arrow {
  cursor: pointer;
  text-align: center;
  width: 1em;
  height: 1em;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.noIndent {
  padding-left: 0px;
}
