.patientPageHeader {

  position:relative;
  padding-left:45px;

  td {
    vertical-align:top;
    padding-left:10px;
    padding-bottom:4px;
  }

  .studyMetaBar {
    position:absolute;
    top:0;
    right:0;
    text-align:right;

    .cohortNav {
      margin-top:3px;
    }

  }

  .patientIcon {
    position:absolute;
    left:0;
    font-size:40px;
  }

  .patientSamples {

    .patientSample {
      display:inline-block;
      background-color:#ddd;
      padding:2px 5px;
      margin-right:7px;
      border-radius:3px;
      margin-bottom:7px;
    }

  }

}

.vafPlot {
  position:relative;
  top:-10px;
}