.patientPageHeader {

  position:relative;
  padding:20px 20px 20px 94px;
  border-radius:5px;
  background: #eee;
  margin-bottom: 20px;

  td {
    vertical-align:top;
    padding-left:10px;
    padding-bottom:4px;
  }


  .patientIcon {
    position:absolute;
    top:17px;
    left:20px;
    font-size:66px;
  }

  .patientSamples {

    .patientSample {
      display:inline-block;
      background-color:#ddd;
      padding:2px 5px;
      margin-right:7px;
      border-radius:3px;
      margin-bottom:7px;
    }

  }

}

.studyMetaBar {
  display:flex;
  align-items:center;
  justify-content: space-between;
  margin-bottom:20px;
}