.patientPageHeader {

  position:relative;
  padding:20px 20px 20px 94px;
  border-radius:5px;
  background: #eee;
  margin-bottom: 20px;

  .patientIcon {
    position:absolute;
    top:13px;
    left:20px;
    font-size:54px;
  }

}