.QueryContainer {
  height: 100%;

  label {
    margin-bottom: 0px;
    font-weight: normal;
  }

  h2 {
    font: normal normal 300 20px/23px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    flex-grow: 2;
    margin: 0px;
  }
}

.cancerStudySelectorHeader {
  background-color: #1982b8;
  border-bottom: 1px solid rgb(17, 116, 167);
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.CancerStudySelector {
  position: relative;
  width: 850px;
  overflow: hidden;
  user-select: none;
  
  label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  a {
    cursor: pointer;
  }

  .selectAll {
    background: rgb(17, 116, 167);
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 2px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.90);
    font: normal normal 500 11px/19px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 5px 10px;
    box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.1);
    min-width: 115px;

    &:hover {
      cursor: pointer;
      background: #1f688e;
      color: #fff;
    }
  }

  .selectedCount {
    font-size: 12px;
    line-height: 30px;
    text-align: right;
    margin: 0 10px;

    &.selectionsExist {
      color: #337ab7;
      text-decoration: underline;
      &:hover {
        cursor: pointer;
      }
    }
  }

  h3 {
    background-color: #1982b8;
    border-bottom: 1px solid rgb(17, 116, 167);
    color: #fff;
    font: normal normal 500 13px/18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 15px;

    .selectedCount {
      float: right;
    }
  }

  div.cancerStudySelectorBody {
    height: 350px;
  }

  div.cancerTypeListContainer, div.cancerStudyListContainer {
  }

  div.cancerTypeListContainer {
    overflow: auto;
  }

  div.cancerStudyListContainer {
    overflow: auto;
    flex: 1;
  }

  ul.cancerTypeList {
    background: rgb(232, 241, 248);
    padding: 0px;
    margin: 0px;
    width: 230px;

    li {
      cursor: pointer;
      list-style-type: none;
      display: flex;
      flex-direction: row;

      font-size: 13px;
      color: #043852;
      border-bottom: 1px solid rgb(222, 233, 241);
      border-top: 1px solid rgb(243, 248, 251);
      padding: 10px;

      span {
        &.cancerTypeListItemLabel {
          flex: 1;
          margin: 0 10px 0 0;
        }

        &.cancerTypeListItemCount {
          background-color: rgb(222, 233, 241);
          border-radius: 2px;
          box-shadow: 0px 1px 0px rgba(0,0,0,0.1);
          font: normal normal 400 10px/19px 'Helvetica Neue', Helvetica, Arial, sans-serif;
          text-align: center;
          width: 25px;
        }
      }
    }
  }

  .selectable:hover {
    color: #000;
    background-color: #deeaf3;
  }

  .selectable.selected {
    background-color: rgba(143, 189, 212, 0.42);
  }

  .matchingNodeText {
    font-style: italic;
  }

  .nonMatchingNodeText {
    font-style: normal;
  }

  .containsSelectedStudies {
    font-weight: bold;
  }

  .searchTextInput {
    min-width: 200px;
    height: 28px;

    .Select-control {
      .Select-input {
        height: 28px;
      }
    }
  }
}

.GeneticProfileSelector {
  border: 1px solid rgb(170, 170, 170);
  border-radius: 10px;
  padding: 10px;

  div.singleCheckbox, div.groupCheckbox {
    margin-left: 20px;

    label {
      display: inline;
      cursor: pointer;
    }
  }

  div.radioGroup {
    margin-left: 40px;

    div.radioItem {
      label {
        cursor: pointer;

        input {
          margin-right: 6px;
        }
      }
    }
  }

  div.zScore {
    margin-left: 60px;
  }

  span.groupName {
  }

  span.profileName {
    margin-right: 6px;
  }
}

.DataTypePrioritySelector {
  border: 1px solid rgb(170, 170, 170);
  border-radius: 10px;
  padding: 10px;
  h2 {
    flex-grow: 0;
  }
}

.SampleListSelector {
  border: 1px solid rgb(170, 170, 170);
  border-radius: 10px;
  padding: 10px;

  .ReactSelect {
  }
}

.GeneSetSelector {
  border: 1px solid rgb(170, 170, 170);
  border-radius: 10px;
  padding: 10px;

  .ReactSelect {
  }

  button {
  }

  textarea.geneSet {

    &.empty {
    }
    &.notEmpty {
      text-transform: uppercase;
    }
  }
}
