.QueryAndDownloadTabs {

  :global(ul.nav.nav-tabs li) {
    font-size: 150%;
    font-weight: bold;
  }

  .QueryContainer {
    border: 1px solid #ddd;
    border-top: none;
    padding: 10px;

    :global(.Select-control) {
      border: 1px solid #ddd !important;
      border-radius: 2px !important;
    }
  }
}

.QueryContainer {
  width: 850px;

  label {
    margin-bottom: 0;
    font-weight: normal;
  }

  h2 {
    font: normal normal 700 16px/22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    flex-grow: 2;
    margin: 0;
  }

  .errorMessage {
    color: maroon;
    font-weight: bold;
  }
}

.CancerStudySelector,
.GeneticProfileSelector,
.DataTypePrioritySelector,
.CaseSetSelector,
.GeneSetSelector {
  padding: 10px;
}

.CancerStudySelector {
  position: relative;
  overflow: hidden;
  user-select: none;
  height: 400px;

  label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  a {
    cursor: pointer;
  }

  .cancerStudySelectorHeader {
    background-color: #1982b8;
    border-bottom: 1px solid rgb(17, 116, 167);
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: space-between;

    :global(.Select-control),
    :global(.Select-control:hover) {
      background: rgba(0, 0, 0, 0.1) !important;
      border: 0px !important;
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1) !important;
      border-radius: 2px !important;
      color: rgba(255, 255, 255, 0.85) !important;
      height: 30px !important;
      font-weight: 300;

      :global(.Select-input) {
        height: 30px;
        font-weight: 300;
      }
    }

    :global(.Select-placeholder),
    :global(.Select-clear-zone),
    :global(.has-value.Select--single) > :global(.Select-control .Select-value .Select-value-label),
    :global(.has-value.is-pseudo-focused.Select--single) > :global(.Select-control .Select-value .Select-value-label) {
      color: rgba(255, 255, 255, 0.85) !important;
      font-weight: 300;
    }

    :global(.Select-placeholder),
    :global(.Select--single) > :global(.Select-control .Select-value) {
      line-height: 30px !important;
    }

    :global(.Select-arrow) {
      border-color: rgba(255, 255, 255, 0.85) transparent transparent !important;
    }
  }

  .selectAll {
    text-transform: uppercase;
  }

  .noData,
  .selectedCount {
    font-size: 12px;
    line-height: 30px;
    text-align: right;
    margin: 0 10px;

    &.selectionsExist {
      color: #337ab7;
      text-decoration: underline;
      &:hover {
        cursor: pointer;
      }
    }
  }

  h3 {
    background-color: #1982b8;
    border-bottom: 1px solid rgb(17, 116, 167);
    color: #fff;
    font: normal normal 500 13px/18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 15px;

    .selectedCount {
      float: right;
    }
  }

  div.cancerStudySelectorBody {
    border: 1px solid #ddd;
    flex: 1;
  }

  div.cancerTypeListContainer,
  div.cancerStudyListContainer {
  }

  div.cancerTypeListContainer {
    overflow: auto;
  }

  div.cancerStudyListContainer {
    overflow: auto;
    flex: 1;
  }

  ul.cancerTypeList {
    background: rgb(232, 241, 248);
    padding: 0px;
    margin: 0px !important;
    width: 230px;

    li {
      cursor: pointer;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      font-size: 13px;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      color: #043852;
      border-bottom: 1px solid rgb(222, 233, 241);
      border-top: 1px solid rgb(243, 248, 251);
      padding: 10px;

      span {
        &.cancerTypeListItemLabel {
          flex: 1;
          margin: 0 10px 0 0;
        }

        &.cancerTypeListItemCount {
          background-color: rgb(222, 233, 241);
          border-radius: 2px;
          box-shadow: 0px 1px 0px rgba(0,0,0,0.1);
          font: normal normal 400 10px/19px 'Helvetica Neue', Helvetica, Arial, sans-serif;
          text-align: center;
          width: 25px;
        }
      }
    }
  }

  .selectable:hover {
    color: #000;
    background-color: #deeaf3;
  }

  .selectable.selected {
    background-color: rgba(143, 189, 212, 0.42);
  }

  .matchingNodeText {
    font-style: italic;
  }

  .nonMatchingNodeText {
    font-style: normal;
  }

  .containsSelectedStudies {
    color: #000;

    .cancerTypeListItemCount {
      position: relative;

      &:before {
        background: rgba(25, 130, 184, 0.5);
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        border-radius: 1px 2px 1px 2px;
        content: ' ';
        height: 5px;
        width: 5px;
      }
    }
  }

  .searchTextInput {
    min-width: 200px;
    height: 28px;

    .Select-control {
      .Select-input {
        height: 28px;
      }
    }
  }
}

.GeneticProfileSelector {
  .group {
    display: flex;
    flex-direction: column;

    div.group {
      margin-left: 20px;
    }
  }



  div.zScore {
    margin-left: 40px;
  }

  label {
    display: inline;
    cursor: pointer;

    input[type='radio'],
    input[type='checkbox'] {
      margin-right: 6px;
    }
  }

  span.infoIcon {
  }

  span.groupName {
  }

  span.profileName {
    margin-right: 6px;
  }
}

.DataTypePrioritySelector {
  input[type="radio"] {
    margin: 0 6px 0 2px;
  }
}

.DataTypePriorityLabel {
  margin: 0 10px 0 0;
}

.CaseSetSelector {
  .ReactSelect {
  }
  input[type="radio"] {
    margin-right: 6px;
  }
}

.GeneSetSelector {
  .ReactSelect {
  }

  .buttonRow {
    button {
      background: linear-gradient(to bottom, rgba(252,252,252,1) 50%, rgba(245,245,245,1) 100%);
      border: 1px solid #ddd;
      border-radius: 2px;
      box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.5);
      color: $darkBrown;
      padding: .4em 1em;

      &:hover {
        color: #333;
      }
    }
  }

  textarea.geneSet {
    resize: vertical;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 10px 15px;

    &.empty {
    }
    &.notEmpty {
      text-transform: uppercase;
    }
  }
}

.GeneSymbolValidator {
  cursor: default;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  span.icon {
    text-align: center;
    margin-right: 4px;
    width: 16px;
    height: 16px;
  }
  span.pendingMessage,
  span.errorMessage {
    font-size: small;
  }
  div.validBubble,
  div.invalidBubble {
    color: #fff;
    display: flex;
    align-items: center;
    margin: 2px;
    padding: 5px 10px;
    border-radius: 2px;
    span.icon {
      color: #fff;
    }
  }
  div.invalidBubble {
    background: $redError;
  }
  div.validBubble {
    background: $greenSuccess;
  }
  div.suggestionBubble {
    color: $darkBrown;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 2px;
    padding: 4px;
    background-color: $cream;
    border: 1px solid $darkCream;
    border-radius: 4px;
    &:hover {
      background-color: $darkCream;
      border-color: $darkestCream;
    }
    span.icon {
      color: #888888;
    }
    span.noChoiceLabel {
      font-weight: normal;
    }
    span.singleChoiceLabel {
      font-weight: bold;
    }
    span.multiChoiceLabel {
      font-weight: normal;
    }
    .ReactSelect {
      width: 140px;
      margin-left: 4px;
      float: left;
    }
  }
}

div.MutSigGeneSelectorWindow {
  width: 650px;

  div.MutSigGeneSelector {
    margin: 10px;
    flex: 1;
    div.selectionColumnHeader,
    div.selectionColumnCell {
      display: flex;
      flex-direction: column;
      align-items: center;

      label {
        min-height: 1em !important;
        input[type='checkbox'] {
          margin: 4px 0 0 0;
        }
      }
    }
    button.selectButton {
      float: right;
    }
  }
}

div.GisticGeneSelectorWindow {
  width: 800px;

  div.GisticGeneSelector {
    margin: 10px;
    flex: 1;

    div.header.amp.del {
      float: left;
      display: flex;
      flex-direction: column;

      span.amp {
        color: red;
      }
      span.del {
        color: blue;
      }
    }

    div.gisticTable {
      margin: 10px 0;
      max-height: 400px;
      overflow: auto;
      :global(.table) {
        margin: 0;
        & > thead > tr > th {
          font-size: 13px;
        }
        & > tbody > tr > td {
          vertical-align: middle;
          padding: 3px 10px;
          font-size: 12px;

          .amp {
            height: 1em;
            background-color: red;
          }
          .del {
            height: 1em;
            background-color: blue;
          }
        }
      }
    }

    div.GisticGeneToggles {
      width: 400px;
    }

    .someGenes,
    .moreGenes {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    span.geneToggle {
      background: rgba(0,0,0,0);
      line-height: 16px !important;
      margin: 0 3px 0 0;
      padding: 3px 5px;
      -webkit-transition: background 0.2s ease-in-out;
      -o-transition: background 0.2s ease-in-out;
      transition: background 0.2s ease-in-out;

      &:not(.simulateHovered) {
        cursor: pointer;
      }
      &:hover,
      &.simulateHovered {
        background: #dee9f1;
        border-radius: 3px;
      }
      &.selected {
        font-weight: 600;
      }
      &.notSelected {
        font-weight: 400;
      }
    }

    a.showMoreLess {
      cursor: pointer;
      padding: 3px;
      color: #337ab7;
      &:hover {
        text-decoration: underline;
      }
    }

    button.selectButton {
      float: right;
    }
  }
}

span.downloadSubmitExplanation {
}

label.transposeDataMatrix {
  input[type='checkbox'] {
    margin-right: 6px;
  }
}

div.submitRow {
  button.submit {
    font-weight: 300;
    font-size: 18px;
    width: 240px;
    padding: 10px 0;
  }

  button.genomeSpace {
    border: 1px solid $darkestCream;
    border-radius: 2px;
  }
}