.oncoprintjs__tooltip {
    padding: 5px;
    margin-top: -10px; // to compensate position for padding, since tooltip is positioned above (if positioned at center, wouldnt be problem)
    width: 250px;
    word-break: break-all;
}

.oncoprint-hidden {
    opacity: 0;
}

.oncoprintjs__scroll_div {
    // force scrollbar visible, to indicate when theres more oncoprint offscreen to scroll to
    // source: https://gist.github.com/devinrhode2/2573411#gistcomment-2243001
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background-color: rgba(0, 0, 0, 0);
        -webkit-border-radius: 100px;
    }

    &::-webkit-scrollbar:hover {
        //background-color: rgba(0, 0, 0, 0.09);
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.21);
        -webkit-border-radius: 100px;
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb:active {
        background: rgba(0, 0, 0, 0.42);
        -webkit-border-radius: 100px;
    }
}
