.oncoprintjs__tooltip {
  padding: 5px;
  margin-top: -10px; // to compensate position for padding, since tooltip is positioned above (if positioned at center, wouldnt be problem)
  width:250px;
}

.oncoprint-hidden {
  opacity: 0;
}