.SurvivalTable {
  margin: 30px auto;
  width: 65%;
}

table {
  border-collapse: collapse !important;
}

.SurvivalTable td, .SurvivalTable th {
  border: 1px solid black;
  padding: 0 10px;
  text-align: center;
  font-size: 12px;
  background-color: #f8f8f8;
}

.SurvivalChart {
  position: relative;
}

.Tooltip {
  font-size: 10px;
}

.LogRank {
  position: absolute;
  left: 832px;
  top: 150px;
}

.NotAvailable {
  font-size: 18px;
  text-align: center;
  margin: 20px 0;
}
