// fretboard

$stringColor: #999;

body {
  background:yellow;
}


.fretboard {

  tr td {
    border-width:1px;

    div.note {
      width:60px;
      text-align:center;
      cursor:pointer;

      .note-hit {
        position:relative;
        top:-10px;
        opacity:0;
        color:$stringColor;

    }

      &:hover {

        .note-hit {
          opacity:1;
      }

    }

  }

    &:first-child {
      display:none;
  }


    &:nth-child(n+2) {
      border-width:1px;
      border-style:solid;
      border-top-color:$stringColor;
      border-left-color:$stringColor;
      border-right-color:$stringColor;
      border-bottom:none;
  }


}

  tr:last-child td {
    border-bottom:none;
    border-left:none;
    border-right:none;
}

  tr.active-string td {
    border-top-color:orange;
}

}

.reports {

  display:inline-flex;

  .report-badge {
    background-color: #ccc;
    padding: 20px;
    border-radius: 20px;
    display: inline-block;
    min-width: 80px;
    text-align: center;
    margin:10px;

    &.play-button {
      cursor:pointer;
      background-color:#8884d8;

  }

    .fa-play {

      padding-top:12px;
      paddin-left:7px;

      &:after, &:before {
        font-size:25px;
    }

  }

}

}

.fretboard-test {
  text-align:center;

  .fretboard {
    margin:auto;
}

}

.select-testDuration {
  position:absolute;
  right:7px;
  top:7px;
}


#stats-area {
  background-color:#fff;
  padding-top:40px;
  padding-left:30px;
  padding-right:50px;

  > div {
    display:inline-block;
    width:50%;
    height:200px;
}

}

.section {

  padding-top:30px;
  padding-bottom:30px;


}

.modal {
  color:#666;
}

header, header div {
   border:1px solid white;
}