// fretboard

body {
  margin-top:0 !important;
}

#page_wrapper {
  max-width:1000000 !important;
  min-width:auto !important;
}

.ui-widget {
  font-size:inherit !important;
}

#header table:nth-child(0) {
  width:95%;

}

