#oncoprint {
  border: none !important;
  padding: 0 !important;

  #oncoprint-inner {
    .oncoprintjs__scroll_div {
      overflow: auto !important;
    }

    .oncoprintjs__track_options__toggle_btn_img {
      border-width:0px !important;
      border-radius:$cornerBorderRadius;
      position:relative;
      top:4px;
      &:hover {
        background-color:#eee;
      }
    }

    .oncoprintjs__track_options__dropdown {
      border: 1px solid rgba(0, 0, 0, 0.15) !important;
      margin: 0 !important;
      padding: 0 !important;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      border-radius:$cornerBorderRadius;
      li {
        border-width: 0 !important;
        padding: 2px 5px;
        &:hover {
          background: #fff !important;
          text-decoration: underline;
        }

      }
    }

  }
}

.oncoprintLoadingIndicator {
  height: 200px;
  border-radius: 4px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  div {
    margin-bottom: 5px;
  }

}

.oncoprintContainer {
  opacity: 0;
  &.fadeIn {
    transition: opacity .75s ease-in-out;
    opacity:1;
  }
}