.Safari {
    // this is necessary to fix hidden scroll bars when position:absolute
    .oncoprintjs__scroll_div {
        position: static !important;
    }
}

.oncoprintAddClinicalTracks {
    > .tab-content {
        padding: 10px 0 5px 0 !important;

        > .msk-tab {
            padding-left: 5px !important;
            padding-right: 5px !important;

            .ReactVirtualized__Table > * {
                width: 100% !important;
            }
        }
    }
}

.oncoprintAddClinicalTracksDropdown {
    .rc-tooltip-arrow {
        border: none !important;
    }
}

.oncoprintDropdownCount {
    font-size: 11px;
    background: #ddd;
    border-radius: 40px;
    padding: 2px 6px;
}

.oncoprintContainer {
    border: none !important;
    padding: 0 !important;

    #oncoprintDiv {
        .oncoprintjs__track_options__toggle_btn_img {
            top: 4px;
        }
        .oncoprintjs__track_options__toggle_btn_img,
        .oncoprintjs__header__toggle_btn_img {
            border-width: 0px !important;
            border-radius: $cornerBorderRadius;
            position: relative;
            &:hover {
                background-color: #eee;
            }
        }

        .oncoprintjs__track_options__dropdown,
        .oncoprintjs__header__dropdown {
            border: 1px solid rgba(0, 0, 0, 0.15) !important;
            margin: 0 !important;
            padding: 0 !important;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            border-radius: $cornerBorderRadius;
            z-index: 10000;
            li {
                &.oncoprintjs__track_options__separator,
                &.oncoprintjs__header__separator {
                    border-top: 1px solid #dddddd !important;
                }
                &:not(.oncoprintjs__track_options__separator, .oncoprintjs__header__separator) {
                    border-width: 0 !important;
                }
                padding: 2px 5px;
                &:hover {
                    background: #fff !important;
                    text-decoration: underline;
                }
            }
        }
    }
}

.oncoprintContainer {
    opacity: 0;
    max-width: 95vw;
    &.fadeIn {
        transition: opacity 0.75s ease-in-out;
        opacity: 1;
    }
}

.tabMessageContainer {
    .alert {
        margin-bottom: 5px;
    }
}

#wideGeneBoxValidationStatus > div {
    white-space: normal;
    width: 100%;
    max-width: 555px;
}

.quick_oql_edit {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: flex-start;

    .oqlValidationContainer {
        min-height: 27px;
    }

    div {
        justify-content: left !important;
    }
}
