.axis path, .axis line
{
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 10px;
}

.timeline-label {
    font-family: sans-serif;
    font-size: 12px;
}

#timeline .axis {
    transform: translate(0px,20px);
    -ms-transform: translate(0px,20px); /* IE 9 */
    -webkit-transform: translate(0px,20px); /* Safari and Chrome */
    -o-transform: translate(0px,20px); /* Opera */
    -moz-transform: translate(0px,20px); /* Firefox */
}

#timeline circle {
  cursor: pointer;
}

#timeline g text {
  cursor:pointer;
}


.coloredDiv {
    height:20px; width:20px; float:left;
}

.timeline-qtip {
  padding:5px;
  table {

    tr {

      td {
        padding-top:5px;
        padding-left:5px;
        padding-right:5px;
      }

      &:first-child {
        td {
          padding-top:0;
        }
      }

    }
  }

}

.timelineContainer {
    position: relative;
    display: inline-block;
    padding-right: 10px;
}
