.main {
  display: flex;
  flex-direction: column;
}

.operations {
  display: flex;
  justify-content: space-between;
}

.options {
  display: flex;
  flex-direction: column;
}

.option {
  margin-top: 5px;
}

.footer {
  display: flex;
  justify-content: space-between;
}