.container {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  width:100%;
  height:100%;
}

.items-container {
  display:flex;
  flex-direction:column;
  justify-content:left;
  padding:9px;
  border-radius:10px;
}

.fa-check {
  position:absolute;
  color: $brand-success;
  top:2px;
}

.fa-exclamation-triangle {
  position:absolute;
  color: $brand-danger;
  top:2px;
}

.not-invoked-item {
  color: #aaaaaa;
}

.item-row {
  position:relative;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: center;
  margin-top:4px;

  &:nth-child(1) {
    margin-top: 0px !important;
  }
}

.pulse-spinner {
  color:$brand-primary;
  position:absolute;
  top:2px;
  div {
    height:14px;
    width:14px;
    opacity:0.7;
    animation-duration:2.0s !important;
  }
}