.lockIcon {
  color: #000000;
}

.plotsTab {

  margin-top:$standardMargin;

  .leftColumn {
    width:304px;

    margin-right:$standardMargin;

    .Select {
      width:240px;
    }

    .Select.is-open.is-searchable {
      .Select-value-label {
        color:#aaaaaa !important;
      }
    }

    /*.Select.data-source-id {
      .Select-menu-outer {
        width: 300px;
      }
    }*/

    > div > div {
      padding:10px;
    }

    .axisBlock {
      background:#eee;
      border-radius:4px;
    }

    .btn.sort-order {
      margin-right: 10px;
      padding: 4px 9px;
    }
    
    i.horizontal-axis {
      transform: rotate(-90deg) scaleY(-1);
    }

    i.horz-descending {
      transform: rotate(-90deg) scaleY(-1) scaleX(-1);
    }

    i.horz-ascending {
      transform: rotate(-90deg) scaleY(-1);
    }

    i.vert-descending {
      transform: scaleX(-1);
    }

  }

}