.lockIcon {
  color: #000000;
}

.plotsTab {
  margin-top:$standardMargin;

  .leftColumn {
    width:304px;

    margin-right:$standardMargin;

    .Select {
      width:240px;
    }

    .Select.is-open.is-searchable {
      .Select-value-label {
        color:#aaaaaa !important;
      }
    }

    /*.Select.data-source-id {
      .Select-menu-outer {
        width: 300px;
      }
    }*/

    > div > div {
      padding:10px;
    }

    .axisBlock {
      background:#eee;
      border-radius:4px;
      padding-bottom: 0;
    }
  } 
}


.borderedChart {
  height: 700px;
}


.tab-title {
  font-size: 14px;
}

.label-text {
  font-size: 13px;
  color: #333333;
  margin-bottom: 5px;
  padding: 0px;
}

.form-group-bspace {
  margin-bottom: 5px;
}

.PlotsTab {
  width: 120%;
}

.color-samples{
  right: 10px;
  bottom: 0;
  position: absolute;
}