.lockIcon {
  color: #000000;
}

.plotsTab {

  .leftColumn {
    width:304px;

    margin-right:$standardMargin;

    .Select {
      width:240px;
    }

    .Select.is-open.is-searchable {
      .Select-value-label {
        color:#aaaaaa !important;
      }
    }

    /*.Select.data-source-id {
      .Select-menu-outer {
        width: 300px;
      }
    }*/

    .swapAxes {
      text-align: center;
      padding:0;
    }

    .axisBlock {
      background: #eee;
      border-radius: 4px;
      padding: 10px;

      form {
        display: flex;
      }

      h4 {
        writing-mode: vertical-lr;
        padding: 0 !important;
        margin: 0 !important;
        width: 23px;
        text-align: center;
        transform:rotate(180deg);
        position:relative;
        left:-8px;
      }
    }


    .label-text {
      color: #333333;
      margin-bottom: 5px;
      padding: 0px;
    }

    .form-group-bspace {
      margin-bottom: 5px;
    }

    .PlotsTab {
      width: 120%;
    }

    .color-samples{
      right: 10px;
      bottom: 0;
      position: absolute;
    }
  }
}

.color-samples-toolbar-elt {
  display: inline-block !important;
  margin-right: 10px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
