.mutationassessor-icon-image {
  width: 29px;
  height: 29px;
  line-height: 29px;
  display: block !important;
  background-position: 0 0;
}

.high {
  background-position: -5px -0px;
}

.medium {
  background-position: -34px -0px;
}

.low {
  background-position: -34px -34px;
}
