.customCaseSelection {
    width: 480px;
    position: fixed;
    float: right;
    overflow: hidden;
    right: 40%;
    top: 30%;
    z-index: 100;
    border: 1px solid $borderColor;
    border-radius: $cornerBorderRadius;
    background-color: #FFFFFF;
    box-sizing: content-box;
    font-size: 14px;

    .header {
        display: flex;
        font-size: 14px;
        font-weight: 700;
        cursor: move;
        padding: 0px 10px;
        background-color: #f1f1f1;
        line-height: 25px;
    }
    
    .body {
        padding: 10px;
    
        textarea {
            resize: none;
            width: 100%;
            height: 300px;
            margin-top: 5px;
        }
        textarea.invalid {
            border-color: red;
            outline-color: red;
        }
    
        textarea.valid {
            border-color: green;
            outline-color: green;
        }
    
        .fillIds { 
            text-decoration: underline;
            cursor: pointer;
        }
    }
    
    .footer {
        margin: 0px 10px;
    }
}

