
.body {
    display: flex;
    flex-direction: column;
    textarea {
        resize: none;
        width: 100%;
        height: 100px;
        margin-top: 5px;
    }
    textarea.invalid {
        border-color: red;
        outline-color: red;
    }

    textarea.valid {
        border-color: green;
        outline-color: green;
    }
}

.oqlerror {
    background: #a71111;
    color: #fff !important;
    display: flex;
    align-items: center;
    span {
        margin-right: 4px;
    }
}

.operations {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}