.commandDocumentation {
    table {
        margin-bottom: 30px !important;
    }
}

.tutorialsFolderText {
    a {
        text-decoration: underline !important;
    }
}

.returnToIndex {
    font-size: 12px;
    margin-left: 50px;
}
