.commandDocumentation {
    table {
        margin-bottom: 30px !important;
    }
}

.tutorialsFolderText {
    a {
        text-decoration: underline !important;
    }
}

.returnToIndex {
    font-size: 12px;
    margin-left: 50px;
}

.tutorialsIndex {
    > li {
        margin: 15px 0;
        > ol {
            margin-top: 10px;
        }
    }
}
