.molecularmatch-icon-image {
  width: 24px;
  height: 24px;
  line-height: 24px;
  -webkit-background-size: 200px;
  background-size: 200px;
  display: block !important;
}

.molecularmatch-icon-image.count1 {
  background-position: -13px -12px;
}

.molecularmatch-icon-image.count2 {
  background-position: -38px -12px;
}

.molecularmatch-icon-image.count3 {
  background-position: -63px -12px;
}

.molecularmatch-icon-image.count4 {
  background-position: -88px -12px;
}

.molecularmatch-icon-image.count5 {
  background-position: -113px -12px;
}

.molecularmatch-icon-image.count6 {
  background-position: -138px -12px;
}

.molecularmatch-icon-image.count7 {
  background-position: -13px -44px;
}

.molecularmatch-icon-image.count8 {
  background-position: -38px -44px;
}

.molecularmatch-icon-image.count9 {
  background-position: -63px -44px;
}

.molecularmatch-icon-image.count10 {
  background-position: -13px -74px;
}

.molecularmatch-icon-image.countexceed-10 {
  background-position: -38px -74px;
}

.molecularmatch-icon-image.count0 {
  background-position: -63px -74px;
}