@import '../../../globalStyles/variables.scss';

.text-center {
    text-align: center;
}

.btn-link {
    background: none !important;
    border: none;
    padding: 0 !important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: $brand-primary;
    cursor: pointer;
}

.btn-link:hover {
    text-decoration: underline;
}
