.resultsPageMutationsGeneTabs .tab-content {
    .mutationMapperMetaColumn label {
        margin-right: 5px;
    }
}

.driver-annotation-setting {
    visibility: hidden;
}

.legend-panel:hover .driver-annotation-setting {
    visibility: visible;
}
