.resultsPageMutationsGeneTabs .tab-content {
  padding-top: 5px !important;
  border-top:none !important;
  border-bottom:none !important;

  .mutationMapperMetaColumn label {
    margin-right:5px;
  }
}



