/**
 * This file is part of cBioPortal.
 *
 * cBioPortal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 **/

.rc-tooltip-inner table {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 0.7rem;
  background-color: #F1F6FE;
}

.rc-tooltip-inner td,
.rc-tooltip-inner th {
  padding: 5px;
  border: 1px solid #E2E2E2;
}

.rc-tooltip-inner td {
  text-align: left;
}

.rc-tooltip-inner tr:nth-child(even) {
  background-color: #eee;
}

.rc-tooltip-inner th[scope="col"] {
  background-color: #999999;
  color: #fff;
}

.rc-tooltip-inner th[scope="row"] {
  background-color: #d7d9f2;
}

.rc-tooltip-inner caption {
  caption-side: bottom;
}
