:global(.msk-tabs .tabAnchor.greyedOut) {
    color: #afafaf;
}

:global(.btn-group) > :global(.btn.noMarginLeft) {
    margin-left:0px !important;
}

.comparisonGroupManager {
    .groupCheckboxes {
        margin-top:4px;
        max-height:130px;
        width:100%;
        overflow:auto;
        padding:3px;

        :global(div.checkbox) {
            margin-bottom:6px;
        }
        :global(div.checkbox):first-child {
            margin-top:0px;
        }
        :global(div.checkbox):last-child {
            margin-bottom:0px;
        }
    }

    .noGroupsMessage {
        padding:15px;
        height:103px;
        display:flex;
        justify-content:center;
        align-items:center;
    }

    :global(input.form-control) {
        font-size:12px;
        height:36px;
    }
}

.groupButtons {
    button {
        margin:2px !important;
    }
    display:inline-block;
    max-width:500px;
    border:1px solid $borderColor;
    padding:5px;
    background-color:#fff;
    border-radius:$cornerBorderRadius;

}

.headerControls {
    display:flex;
    align-items:center;
    > div {
      margin-right:30px;
    }
}