.dataFormatHelp {
    background-color: #eee;
    padding: 13px;
    border-radius: 11px;
    margin-top: 10px;
    display: inline-flex;

    .dataFormatHelpSection {
        max-width: 600px;
    }

    .dataFormatHelpBorder {
        border-left: 1px solid black;
        margin-left: 15px;
        margin-right: 15px;
    }
}
