.Container {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.Checkboxes {
    display: flex;
    flex-direction: row;
    float: left;
    align-items:center;
    height: 30px;
}
  
.Checkboxes > * {
    margin:0 10px !important;
}
  
.TableContainer {
    width: 800px;
}

.TableContainer th {
    font-size: 10px;
}

.TableContainer td {
    font-size: 11px;
}

.Checkbox {
    margin-top: -2px !important;
    margin-bottom: 0 !important;
}

.Checkbox label input:disabled {
    cursor: auto !important;
}

.Checkbox label {
    cursor: auto !important;
    min-height: 12px !important;
}

.GeneName {
    margin-bottom: 5px;
}

.GeneName:hover {
    outline-width: 2px;
    outline-style: solid;
    outline-color: blue;
    outline-offset: 1px;
    cursor: pointer;
}

.DataSet {
    padding-top: 10px;
}

.ScatterTooltip {
    border-radius: 0 !important;
    box-shadow: none !important;
    border-color: black !important;
    padding: 0 !important;
}

.ScatterTooltip div:first-child {
    border-right-color: black !important;
}

.ScatterTooltip div:first-child::after {
    border-right-color: #58ACFA !important;
}

.ScatterTooltip div:last-child {
    padding: 4px;
    background-color: #58ACFA;
}

.BarTooltip div:last-child {
    padding: 3px;
    font-size: 11px;
    white-space: nowrap;
}

.BoxTooltip div:last-child {
    padding: 3px 10px;
    white-space: nowrap;
}
