.sc-htoDjs.reactour__dot {
    margin-left: 3px;
    margin-right: 3px;
    padding: 5px;
    margin-top: 4px;
}

.cbioportal-frontend nav.sc-gzVnrw {
    display: flex;
}

.step {
    margin-right: 20px;
}
