.errorScreen {
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  top:0;
  background:$body-bg;
  min-height:300px;
  padding:100px;
  text-align:center;
  z-index: 10;

  h4 {
    margin:30px 0;
    font-size:20px;
  }

  .errorLogo img {
    height:50px;
  }

  p {
    width:500px;
    margin:auto;
  }

  textarea {
    border:1px solid $borderColor;
    width:500px !important;
    padding:10px !important;
    height:200px !important;
    margin:0 auto;
  }

}
