
.body {
    display: flex;
    flex-direction: column;
    textarea {
        resize: none;
        width: 100%;
        height: 200px;
        margin-top: 5px;
    }
    textarea.invalid {
        border-color: red;
        outline-color: red;
    }

    textarea.valid {
        border-color: green;
        outline-color: green;
    }

    .fillIds {
        text-decoration: underline;
        cursor: pointer;
    }
}

.operations {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}