.selectAllStudies {
  color: #1982b8;
  font: normal normal 600 10px/18px 'Helvetica Neue';
  margin: 0 0 0 10px;
  text-transform: uppercase;
}

ul.StudyList {
  &.Level0, &.Level1 {
    padding-left: 0px;
  }

  &.Level0 {
    padding: 5px;

    > li.CancerType, > li.Study {
      margin-left: 0px;
    }
  }

  li.CancerType {
    list-style-type: none;

    .CancerTypeName {
      font-style: italic;
      color: gray;
    }
  }

  li.Study {
    list-style-type: none;
    margin-left: 40px;

    label {
      display: inline;
    }

    .StudyName {
      font-weight: bold;
    }

    .StudySamples {
      margin: 0 10px;
      font-style: italic;
    }

    .StudyLinks {
      display: inline;

      a {
        display: inline-block;
        margin: 0 3px;
        color: #1982b8;

        span:global(.fa) {
          margin: 0 5px 0 0;
          min-width: 15px;
        }
      }
    }
  }
}

