.expression-controls {

  display:flex;
  align-items:stretch;

  .form-group {
    margin-right:15px;
    padding-right:15px;
    border-right:1px dashed $borderColor;
    display:flex !important;
    align-items: center;

    h5 {
      font-weight:bold !important;
      margin-right:5px;
    }

    &:last-child {
      border-right:none;
    }


  }


}