.fade-out {
  -webkit-transition: opacity 0.6s, visibility 0s 0.6s;;
  -moz-transition: opacity 0.6s, visibility 0s 0.6s;;
  -o-transition: opacity 0.6s, visibility 0s 0.6s;;
  transition: opacity 0.6s, visibility 0s 0.6s;;
  opacity: 0;
  visibility:hidden;
}
.fade-in {
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  opacity: 1;
}
.input-addon {
  padding-bottom: 3px !important;
  padding-top: 3px !important;
}

.ymax-number-input {
  cursor: auto !important;
  border: 1px inset;
  height: 18px;
  padding: 0 5px 0 5px;
  display: inline-block;
}