.clonal-mutation {
  color: #3182bd;
  font-weight: bold;
}
.subclonal-mutation {
  color: #db2d26;
  font-weight: bold;
}
.unknown-status {
  color: #8B4513;
  font-weight: bold;
}
.na {
  color: #8B00C9;
  font-weight: bold;
}