.gnomad-table {
    max-width: 470px;
    display: block;
    // bold last row 
    tr:last-child {
      font-weight: bold;
    }
    text-align: right;
    // first column(population column) no break line, and left align
    table tr td:first-child {
        white-space: nowrap;
        text-align: left;
    }
    // right align all headers, except the first header (population)
    th {
        text-align: right;
    }
    // left align first header(population)
    th:first-child {
        text-align: left;
    }
}
