.missense-mutation {
  color: #008000;
  font-weight: bold;
}
.trunc-mutation {
  color: #000000;
  font-weight: bold;
}
.inframe-mutation {
  color: #8B4513;
  font-weight: bold;
}
.other-mutation {
  color: #8B00C9;
  font-weight: bold;
}
.default-mutation {
  color: #BB0000;
  font-weight: bold;
}