.missenseMutation {
    color: #008001;
    font-weight: bold;
}
.truncMutation {
    color: #000000;
    font-weight: bold;
}
.inframeMutation {
    color: #983405;
    font-weight: bold;
}
.otherMutation {
    color: #d029b5;
    font-weight: bold;
}
.defaultMutation {
    color: #bb0000;
    font-weight: bold;
}
.fusion {
    color: #8b00c8;
    font-weight: bold;
}
.splice {
    color: #916d1d;
    font-weight: bold;
}

.revueIcon {
    visibility: hidden;
}

.mutationTypeCell {
    display: block;
}

.mutationTypeCell:hover .revueIcon {
    visibility: visible;
}
