.proteinChange {
    font-weight: bold;
    font-style: italic;
}

.germline {
    color: red;
    font-size: x-small;
    margin-left: 5px;
}

.driver {
    font-weight: normal;
    font-style: italic;
    margin-left: 5px;
}
