.variantTypeSnp {
    color: #008001;
    font-weight: bold;
}
.variantTypeIns {
    color: #8b4513;
    font-weight: bold;
}
.variantTypeDel {
    color: #8b00c8;
    font-weight: bold;
}
.variantTypeOther {
    color: #000000;
    font-weight: bold;
}
