.variant-type-snp {
    color: #008000;
    font-weight: bold;
}
.variant-type-ins {
    color: #8b4513;
    font-weight: bold;
}
.variant-type-del {
    color: #8b00c9;
    font-weight: bold;
}
.variant-type-other {
    color: #000000;
    font-weight: bold;
}
