.chart {
    border: 1px solid #d3d3d3;
    margin: 5px;
    flex-direction: column;
    position: relative;
    flex-direction: column;
    display: flex;
}

.chartHeightOne {
    height: 195px;
}

.chartHeightTwo {
    height: 400px;
}

.chartWidthOne {
    width:195px;
}

.chartWidthTwo {
    width:400px;
}