.sample-report.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;

    .flex-row {
        width: 1200px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .patient-header {
            font-size: medium;
            width: 100%;
            background-color: #FFF;
            border: 1px solid #ddd;
            border-radius: 4px;
            text-align: center;
            padding: 10px;
            .patientIcon {
                font-size: large;
                padding-right: 5px;
                /*padding-bottom: 10px;*/
            }
        }

        .line-in-middle {
            text-align: center;
            height:20px;
            background: linear-gradient(to right, 
                                        transparent 0%, 
                                        transparent calc(50% - 1px), 
                                        #ddd calc(50% - 1px), 
                                        #ddd calc(50% + 1px), 
                                        transparent calc(50% + 1px), 
                                        transparent 100%); 
        }
    }
}
.sample-report.sample-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 1200px;

    .patientSample {
        background-color: lightyellow;
        padding: 5px;
        padding-left: 15px;
        border-bottom: solid;
        border-color: #ddd;
        border-width: 1px;
    }

    .sample-info-record {
        text-align: center;
        flex-flow: row wrap;
        width: 100%;
        justify-content: space-between;
        padding-bottom: 15px;

        .sample-info-card {
            display: flex;
            flex-direction: column;
            //justify-content: center;
            //background-color: #EFF4FE;
            width: 250px;
            height: 180px;
            padding: 0px;
            border-radius: 4px;
            box-shadow: 1px 1px 5px 0px #bbb;

            .extra-text {
                font-weight: 150;
                font-size: medium;
            }
            .extra-text-header {
                font-weight: 150;
                font-size: large;
            }
            // border-radius: 10px;
            //text-align: center;

            .sample-info-card-title {
                text-align: center;
                align-self: flex-start;
                padding: 5px;
                width: 100%;
                color: white;
                letter-spacing: 1px;
                /*text-transform: uppercase;*/
                font-size: medium;
            }

            .sample-info-card-number {
                height: 120px;
                align-items: center;
                align-self: center;
                display:flex;
                justify-content: space-evenly;
                font-size: 50px;
                text-align:center;
            }

            .sample-info-card-extra-info {
                align-self: flex-end;
                width: 100%;

                .extra-info-drivers {
                    padding-left: 5px;
                    padding-bottom: 2px;
                    float: left;
                }
                .extra-info-passengers {
                    padding-right: 5px;
                    padding-bottom: 2px;
                    float: right;
                }
            }
        }
        .sample-info-card.genomic-alterations-card {
            -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none; /* Safari */
                -khtml-user-select: none; /* Konqueror HTML */
                    -moz-user-select: none; /* Firefox */
                    -ms-user-select: none; /* Internet Explorer/Edge */
                        user-select: none; /* Non-prefixed version, currently
                                            supported by Chrome and Opera */
        }
        .sample-info-card.genomic-alterations-card.active {
            /*border-style: solid;
            border-width: 4px;*/
            .sample-info-card-number {
                text-decoration: underline;
            }
        }
        .sample-info-card.genomic-alterations-card.active.mutations {
            border-color: #007400; 
        }
        .sample-info-card.genomic-alterations-card.active.copy-number-changes {
            border-color: #d83c3c;
        }
        .sample-info-card.genomic-alterations-card.active.rearrangements {
            border-color: #8d0ec5;
        }
        .sample-info-card.genomic-alterations-card:hover {
            cursor: pointer;
            box-shadow: 2px 2px 10px 1px #bbb;
        }
        .sample-info-card.mutations {
            .sample-info-card-title {
                background-color: #007400;
                text-align: center;
            }
        }
        .sample-info-card.copy-number-changes {
            .sample-info-card-title {
                background-color: #d83c3c;
                text-align: center;
            }
        }
        .sample-info-card.rearrangements {
            .sample-info-card-title {
                background-color: #8d0ec5;
                text-align: center;
            }
        }
    }
    .sample-info-record.sample-info-record-drugs {
        padding-bottom: 10px;

        .sample-info-drugs {
            width: 100%;
            height: auto;
            padding-bottom: 5px;
        }
        .sample-info-card-title {
            text-align: center;
            text-transform: none;
            color: white;
            background-color: #1c75cd; // oncokb header color
        }
    }
    .genetic-alterations-list {
        width: 100%;
        border-radius: 4px;
        box-shadow: 1px 1px 5px 0px #bbb;
        padding: 10px;
        text-align: left;
    }
}
/* Decided to not use this component 
.badge.mutations.actionable:hover {
    background-color: $mutations-color;
}
.badge.mutations.actionable:hover {
    background-color: $mutations-color;
}
.badge.mutations.driver:hover {
    background-color: lighten( $mutations-color, 10% );
}
.badge.mutations.vus:hover {
    background-color: lighten( $mutations-color, 20% );
}*/