$fontSize: 11px;
$iconFontSize: 14px;

.header {
  display: flex;
  align-items: center;
  padding: 0 2px;
  font-size: $fontSize;
}

.name {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center !important;
  font-weight: bold;
}

.controls {
  color: grey;
  display: flex;
  align-items: center;
  padding: 2px;
  position:absolute;
  border-radius:$border-radius-base;
  left:2px;
  top:2px;
  background:$lightGrey;
}

.menuToggle {
  padding:1px !important;
  line-height:1 !important;
  font-size:$iconFontSize - 1px !important;
  margin-left:4px;

  i {
    font-size: $iconFontSize;
  }
}

.item {
  margin-left:4px;
  &:last-of-type {
    margin-right:4px;
  }
}

.survivalIcon {
  width: $fontSize - 1px;
  height: $fontSize - 1px;
}

.clickable {
  cursor: pointer;
}

.undo {
  color: $brand-primary;
}

.downloadControl {
  display: flex;
  flex-direction: column;
  button {
    margin-top: 2px;
    margin-bottom: 2px;
  }
}