.studyViewPageChartHeader {
    display: flex;
    height:15px;
    line-height: 15px;
    span {
        font-size: 10px;
        color: #000;
        font-weight: 700;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
    }
    .name {
        flex-grow: 1;
        text-align: center;
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0 5px;
    }
    .controls {
        flex-shrink: 0;
        color: grey;
        float: right;
        .btn {
            border: 0px;
            cursor: pointer;
            background-color: white;
            background-image:none;
            padding: 0px;
            margin: 0 3px;
            font-size: 11px;
            &:hover, &:active, &:focus {
                color: grey;
            }
        }
        .btn:active:focus {
            box-shadow: none; 
        }
        .btn:first-child {
            margin-left: 10px;
        }
        .fa-arrows:hover {
            cursor: move;
        }
        .fa-undo {
            color: $brand-primary;
        }
    }
}
  
.study-view-chart-download {
    >button {
        border: 1px solid grey;
    }
}