.controls {
    display: flex;
}

.fa-undo {
    color: #2986e2;
}

.study-view-chart-contorls {
    color: grey !important;
    font-size: 12px;
    float: right;
    >button {
        border: 0px !important;
        cursor: pointer !important;
        background-color: white !important;
        background-image:none !important;
        padding: 0px !important;
        margin: 0 2px !important;
        &:hover, &:active, &:focus {
            color: grey !important;
        }
    }
    >button:first-child {
        margin-left: 10px !important;
    }
    .fa-arrows:hover {
        cursor: move;
    }
}

main {
    display: flex !important;
    text-align: center !important;
    height:15px;
    line-height: 15px !important;
    span {
        font-size: 10px;
        color: #000;
        font-weight: 700;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
    }
}
  
section {
    flex-grow: 1;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

aside {
    flex-shrink: 0;
}

.download-button {
    >button {
        border: 1px solid grey !important;
        font-size: 8px !important;
        border-radius: 0px !important;
    }
}

.rc-tooltip-inner {
    padding: 3px;
}