.oncoprint_container {
	//position: relative;
}

.fixed_oncoprint_section_container {
	float:left;
	overflow: auto;
	width: auto;
}
.scrolling_oncoprint_section_container {
	overflow: auto;
	width: auto;
}

.cell_div {
	background-color: #fff;
    	position: relative;
}

.cell {
	position: absolute;
}

.cell_rollover {
	outline: 1px solid DarkGray;
}

.scrolling_oncoprint_table_container table td {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.ruleset_legend_label {
	font-family: Arial;
	font-weight: bold;
	fill: gray;
	text-anchor: start;
	alignment-baseline: hanging;
	font-size: 12px;
}

.dragging_label {
	font-weight: bold;
}

.noselect {
	-webkit-touch-callout: none;
    	-webkit-user-select: none;
    	-khtml-user-select: none;
    	-moz-user-select: none;
    	-ms-user-select: none;
    	user-select: none;
}

.cell-qtip {
	background-color: rgba(0,0,0,0) !important;
	border: none !important;
}
.cell-qtip .qtip-content {
	background-color: rgba(255,255,255,0.9) !important;
}