.zoomControls {
  display:flex !important;
  align-items:center;
  border:1px solid black;
  padding:3px 5px;
  margin-left:5px;

  > * {
    margin-right:10px;
  }

  > :last-child {
    margin-right:0;
  }

  > .zoomButton {
    cursor: pointer;
  }

  :global(.rangeslider) {
    margin:0;
    :global(.rangeslider__labels) {
      display:none;
    }
    :global(.rangeslider__handle) {
      height:10px;
      width:10px;
      &:after {
        display:none;
      }
    }
  }

}