.messager {
    padding: 10px;
    background: black;
    color: #fff;
    font-size: 14px;
    position: relative;

    i.close {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }
}
