{"swagger":"2.0","info":{"description":"Cancer Hotspots API","version":"2.0","title":"Cancer Hotspots API","contact":{"name":"CMO, MSKCC"},"license":{"name":"GNU AFFERO GENERAL PUBLIC LICENSE Version 3","url":"https://github.com/cBioPortal/cancerhotspots/blob/master/LICENSE"}},"host":"cancerhotspots.org","basePath":"/","tags":[{"name":"hotspot-controller","description":"Hotspot Controller"}],"paths":{"/api/clusters":{"post":{"tags":["hotspot-controller"],"summary":"get clusters","operationId":"postClusters","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"clusterIds","in":"query","description":"Comma separated list of cluster ids, for example 1,2,3","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"hugoSymbol","in":"query","description":"Hugo gene symbol, for example BRAF","required":false,"type":"string"},{"name":"residue","in":"query","description":"Residue, for example F595","required":false,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/Cluster"}}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/clusters/id/{clusterIds}":{"get":{"tags":["hotspot-controller"],"summary":"get clusters by cluster id","operationId":"getClustersByClusterId","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"clusterIds","in":"path","description":"Comma separated list of cluster ids, for example 1,2,3","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"csv"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/Cluster"}}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/clusters/{hugoSymbol}":{"get":{"tags":["hotspot-controller"],"summary":"get clusters by hugo symbol","operationId":"getClustersByHugoSymbol","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"hugoSymbol","in":"path","description":"Hugo gene symbol, for example BRAF","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/Cluster"}}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/clusters/{hugoSymbol}/{residue}":{"get":{"tags":["hotspot-controller"],"summary":"get clusters by hugo symbol and residue","operationId":"getClustersByHugoSymbolAndResidue","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"hugoSymbol","in":"path","description":"Hugo gene symbol, for example BRAF","required":true,"type":"string"},{"name":"residue","in":"path","description":"Residue, for example F595","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/Cluster"}}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/hotspots/3d":{"post":{"tags":["hotspot-controller"],"summary":"get 3D hotspot mutations","operationId":"getAll3dHotspotMutations","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"hugoSymbols","in":"query","description":"Comma separated list of hugo symbols. For example PTEN,BRAF,TP53","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ClusteredHotspotMutation"}}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/hotspots/3d/{hugoSymbols}":{"get":{"tags":["hotspot-controller"],"summary":"get all hotspot mutations for the specified genes","operationId":"get3dHotspotMutationsByGene","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"hugoSymbols","in":"path","description":"Comma separated list of hugo symbols. For example PTEN,BRAF,TP53","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"csv"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ClusteredHotspotMutation"}}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/hotspots/single":{"get":{"tags":["hotspot-controller"],"summary":"get all hotspot mutations","operationId":"getAllHotspotMutations","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/SingleResidueHotspotMutation"}}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["hotspot-controller"],"summary":"get all hotspot mutations","operationId":"getAllHotspotMutations_1","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/SingleResidueHotspotMutation"}}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/hotspots/single/byTranscript":{"post":{"tags":["hotspot-controller"],"summary":"get hotspot mutations by transcript id","operationId":"postSingleResidueHotspotMutationsByTranscript","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"transcriptIds","in":"query","description":"Comma separated list of transcript IDs. For example ENST00000288602,ENST00000275493","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/HotspotMutation"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/hotspots/single/byTranscript/{transcriptIds}":{"get":{"tags":["hotspot-controller"],"summary":"get hotspot mutations by transcript id","operationId":"getSingleResidueHotspotMutationsByTranscript","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"transcriptIds","in":"path","description":"Comma separated list of transcript IDs. For example ENST00000288602,ENST00000275493","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"csv"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/SingleResidueHotspotMutation"}}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/metadata":{"get":{"tags":["hotspot-controller"],"summary":"get metadata","operationId":"getMetadata","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"type":"object","additionalProperties":{"type":"string"}}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["hotspot-controller"],"summary":"get metadata","operationId":"getMetadata_1","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"type":"object","additionalProperties":{"type":"string"}}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/variants":{"get":{"tags":["hotspot-controller"],"summary":"get all variant tumor type composition","operationId":"getAllVariants","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/TumorTypeComposition"}}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["hotspot-controller"],"summary":"get variant tumor type compositions","operationId":"postVariants","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"hugoSymbol","in":"query","description":"Hugo gene symbol, for example BRAF","required":false,"type":"string"},{"name":"aminoAcidChanges","in":"query","description":"Comma separated list of amino acid change values. For example V600E,V600K","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/TumorTypeComposition"}}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/variants/{hugoSymbol}/{aminoAcidChanges}":{"get":{"tags":["hotspot-controller"],"summary":"get variant tumor type compositions","operationId":"getVariantsByHugoSymbolAndAminoAcidChange","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"hugoSymbol","in":"path","description":"Hugo gene symbol, for example BRAF","required":true,"type":"string"},{"name":"aminoAcidChanges","in":"path","description":"Comma separated list of amino acid change values. For example V600E,V600K","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"csv"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/TumorTypeComposition"}}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}}},"definitions":{"HotspotMutation":{"required":["hugoSymbol","residue","tumorCount","tumorTypeComposition","variantAminoAcid"],"properties":{"aminoAcidPosition":{"description":"Amino Acid Position","$ref":"#/definitions/IntegerRange"},"hugoSymbol":{"type":"string","description":"Hugo gene symbol"},"residue":{"type":"string","description":"Residue"},"transcriptId":{"type":"string","description":"Ensemble Transcript Id"},"tumorCount":{"type":"integer","format":"int32","description":"Number of Tumors"},"tumorTypeComposition":{"type":"object","description":"Tumor Type Composition","additionalProperties":{"type":"integer","format":"int32"}},"tumorTypeCount":{"type":"integer","format":"int32","description":"Number of Distinct Tumor Types"},"variantAminoAcid":{"type":"object","description":"Variant Amino Acid","additionalProperties":{"type":"integer","format":"int32"}}}},"SingleResidueHotspotMutation":{"required":["hugoSymbol","qValue","qValueCancerType","qValuePancan","residue","tumorCount","tumorTypeComposition","type","variantAminoAcid"],"properties":{"aminoAcidPosition":{"description":"Amino Acid Position","$ref":"#/definitions/IntegerRange"},"hugoSymbol":{"type":"string","description":"Hugo gene symbol"},"qValue":{"type":"string","description":"Q-value"},"qValueCancerType":{"type":"string","description":"Q-value (Cancer Type)"},"qValuePancan":{"type":"string","description":"Q-value (Pancan)"},"residue":{"type":"string","description":"Residue"},"transcriptId":{"type":"string","description":"Ensemble Transcript Id"},"tumorCount":{"type":"integer","format":"int32","description":"Number of Tumors"},"tumorTypeComposition":{"type":"object","description":"Tumor Type Composition","additionalProperties":{"type":"integer","format":"int32"}},"tumorTypeCount":{"type":"integer","format":"int32","description":"Number of Distinct Tumor Types"},"type":{"type":"string","description":"Type"},"variantAminoAcid":{"type":"object","description":"Variant Amino Acid","additionalProperties":{"type":"integer","format":"int32"}}}},"Map«string,int»":{"type":"object","additionalProperties":{"$ref":"#/definitions/Integer"}},"IntegerRange":{"properties":{"end":{"type":"integer","format":"int32"},"start":{"type":"integer","format":"int32"}}},"Map«string,double»":{"type":"object","additionalProperties":{"type":"number","format":"double"}},"TumorTypeComposition":{"properties":{"aminoAcidPosition":{"$ref":"#/definitions/IntegerRange"},"hugoSymbol":{"type":"string"},"referenceAminoAcid":{"type":"string"},"residue":{"type":"string"},"tumorTypeComposition":{"type":"object","additionalProperties":{"type":"integer","format":"int32"}},"variantAminoAcid":{"type":"string"}}},"Cluster":{"required":["clusterId","hugoSymbol","pValue","pdbChains","residues"],"properties":{"clusterId":{"type":"string","description":"Cluster ID"},"hugoSymbol":{"type":"string","description":"Hugo gene symbol"},"pValue":{"type":"string","description":"P-value"},"pdbChains":{"type":"object","description":"PDB chains (with p-value)","additionalProperties":{"type":"number","format":"double"}},"residues":{"type":"object","description":"Residues within this cluster (with overall tumor count)","additionalProperties":{"type":"integer","format":"int32"}}}},"ClusteredHotspotMutation":{"required":["classification","clusterCount","hugoSymbol","pValue","residue","tumorCount","tumorTypeComposition","variantAminoAcid"],"properties":{"aminoAcidPosition":{"description":"Amino Acid Position","$ref":"#/definitions/IntegerRange"},"classification":{"type":"string","description":"Hotspot Classification"},"clusterCount":{"type":"integer","format":"int32","description":"Number of 3D clusters where this mutation is observed"},"hugoSymbol":{"type":"string","description":"Hugo gene symbol"},"pValue":{"type":"string","description":"P-value"},"residue":{"type":"string","description":"Residue"},"transcriptId":{"type":"string","description":"Ensemble Transcript Id"},"tumorCount":{"type":"integer","format":"int32","description":"Number of Tumors"},"tumorTypeComposition":{"type":"object","description":"Tumor Type Composition","additionalProperties":{"type":"integer","format":"int32"}},"tumorTypeCount":{"type":"integer","format":"int32","description":"Number of Distinct Tumor Types"},"variantAminoAcid":{"type":"object","description":"Variant Amino Acid","additionalProperties":{"type":"integer","format":"int32"}}}}}}