.default-data-table {
    font-size: 0.8rem;
    min-width: 300px;

    .rt-tbody {
        line-height: 0.8rem;
    }

    .-pagination {
        font-size: 0.7rem;

        .-center {
            flex-grow: 5;
        }
    }
}
