{"swagger":"2.0","info":{"description":"A Genome to Strucure (G2S) API Supports Automated Mapping and Annotating Genomic Variants in 3D Protein Structures. Supports Inputs from Human Genome Position, Uniprot and Human Ensembl Names.","version":"1.0 (beta)","title":"G2S web API","termsOfService":"g2s.genomenexus.org","contact":{"name":"G2S","url":"http://g2s.genomenexus.org","email":"wangjue@missouri.edu"},"license":{"name":"License","url":"https://github.com/cBioPortal/cbioportal/blob/master/LICENSE"}},"host":"g2s.genomenexus.org","basePath":"/","tags":[{"name":"Get Alignments","description":"ensembl/uniprot/sequences"},{"name":"Get ResidueMapping","description":"ensembl/uniprot/hgvs/sequences"}],"paths":{"/api/alignments":{"get":{"tags":["Get Alignments"],"summary":"Get PDB Alignments by Protein Sequence","operationId":"getPdbAlignmentBySequenceUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sequence","in":"query","description":"Input Protein Sequence: ETGQSVNDPGNMSFVKETVDKLLKGYDIRLRPDFGGPP","required":true,"type":"string"},{"name":"paramList","in":"query","description":"Default Blast Parameters:\n Evalue=1e-10,Wordsize=3,Gapopen=11,Gapextend=1,\n Matrix=BLOSUM62,Comp_based_stats=2,\nThreshold=11,Windowsize=40","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Alignment"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["Get Alignments"],"summary":"Get PDB Alignments by Protein Sequence","operationId":"getPdbAlignmentBySequenceUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sequence","in":"query","description":"Input Protein Sequence: ETGQSVNDPGNMSFVKETVDKLLKGYDIRLRPDFGGPP","required":true,"type":"string"},{"name":"paramList","in":"query","description":"Default Blast Parameters:\n Evalue=1e-10,Wordsize=3,Gapopen=11,Gapextend=1,\n Matrix=BLOSUM62,Comp_based_stats=2,\nThreshold=11,Windowsize=40","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Alignment"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/alignments/residueMapping":{"get":{"tags":["Get ResidueMapping"],"summary":"Get PDB Residue Mapping by Protein Sequence and Residue position","operationId":"getPdbAlignmentReisudeBySequenceUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sequence","in":"query","description":"Input Protein Sequence: ETGQSVNDPGNMSFVKETVDKLLKGYDIRLRPDFGGPP","required":true,"type":"string"},{"name":"positionList","in":"query","description":"Input Residue Positions e.g. 10,20","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"paramList","in":"query","description":"Default Blast Parameters:\n Evalue=1e-10,Wordsize=3,Gapopen=11,Gapextend=1,\n Matrix=BLOSUM62,Comp_based_stats=2,\nThreshold=11,Windowsize=40","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Alignment"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["Get ResidueMapping"],"summary":"Get PDB Residue Mapping by Protein Sequence and Residue position","operationId":"getPdbAlignmentReisudeBySequenceUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sequence","in":"query","description":"Input Protein Sequence: ETGQSVNDPGNMSFVKETVDKLLKGYDIRLRPDFGGPP","required":true,"type":"string"},{"name":"positionList","in":"query","description":"Input Residue Positions e.g. 10,20","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"paramList","in":"query","description":"Default Blast Parameters:\n Evalue=1e-10,Wordsize=3,Gapopen=11,Gapextend=1,\n Matrix=BLOSUM62,Comp_based_stats=2,\nThreshold=11,Windowsize=40","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Alignment"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/alignments/{id_type}/{id}":{"get":{"tags":["Get Alignments"],"summary":"Get PDB Alignments by ProteinId","operationId":"getAlignmentUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id_type","in":"path","description":"Input id_type: ensembl; uniprot; uniprot_isoform","required":true,"type":"string"},{"name":"id","in":"path","description":"Input id e.g.\nensembl:ENSP00000484409.1/ENSG00000141510.16/ENST00000504290.5; uniprot:P04637/P53_HUMAN; uniprot_isoform:P04637_9/P53_HUMAN_9 ","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Alignment"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/alignments/{id_type}/{id}/pdb/{pdb_id}_{chain_id}":{"get":{"tags":["Get Alignments"],"summary":"Get PDB Alignments by ProteinId, PDBId and Chain","operationId":"getAlignmentByPDBUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id_type","in":"path","description":"Input id_type: ensembl; uniprot; uniprot_isoform","required":true,"type":"string"},{"name":"id","in":"path","description":"Input id e.g.\nensembl:ENSP00000484409.1/ENSG00000141510.16/ENST00000504290.5; uniprot:P04637/P53_HUMAN; uniprot_isoform:P04637_9/P53_HUMAN_9 ","required":true,"type":"string"},{"name":"pdb_id","in":"path","description":"Input PDB Id e.g. 2fej","required":true,"type":"string"},{"name":"chain_id","in":"path","description":"Input Chain e.g. A","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Alignment"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/alignments/{id_type}/{id}/pdb/{pdb_id}_{chain_id}/residueMapping":{"get":{"tags":["Get ResidueMapping"],"summary":"Post Residue Mapping by ProteinId, PDBId and Chain","operationId":"postResidueMappingByPDBUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id_type","in":"path","description":"Input id_type: ensembl; uniprot; uniprot_isoform; hgvs; hgvs38","required":true,"type":"string"},{"name":"id","in":"path","description":"Input id e.g. \nensembl:ENSP00000484409.1/ENSG00000141510.16/ENST00000504290.5;\nuniprot:P04637/P53_HUMAN;\nuniprot_isoform:P04637_9/P53_HUMAN_9;\nhgvs:17:g.79478130C>G;\nhgvs38:17:g.7676594T>G","required":true,"type":"string"},{"name":"pdb_id","in":"path","description":"Input PDB Id e.g. 2fej","required":true,"type":"string"},{"name":"chain_id","in":"path","description":"Input Chain e.g. A","required":true,"type":"string"},{"name":"positionList","in":"query","description":"Input Residue Positions e.g. 10,100 (Anynumber for hgvs);\nReturn all residue mappings if none","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Alignment"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["Get ResidueMapping"],"summary":"Post Residue Mapping by ProteinId, PDBId and Chain","operationId":"postResidueMappingByPDBUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id_type","in":"path","description":"Input id_type: ensembl; uniprot; uniprot_isoform; hgvs; hgvs38","required":true,"type":"string"},{"name":"id","in":"path","description":"Input id e.g. \nensembl:ENSP00000484409.1/ENSG00000141510.16/ENST00000504290.5;\nuniprot:P04637/P53_HUMAN;\nuniprot_isoform:P04637_9/P53_HUMAN_9;\nhgvs:17:g.79478130C>G;\nhgvs38:17:g.7676594T>G","required":true,"type":"string"},{"name":"pdb_id","in":"path","description":"Input PDB Id e.g. 2fej","required":true,"type":"string"},{"name":"chain_id","in":"path","description":"Input Chain e.g. A","required":true,"type":"string"},{"name":"positionList","in":"query","description":"Input Residue Positions e.g. 10,100 (Anynumber for hgvs);\nReturn all residue mappings if none","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Alignment"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/alignments/{id_type}/{id}/residueMapping":{"get":{"tags":["Get ResidueMapping"],"summary":"POST PDB Residue Mapping by ProteinId","operationId":"postResidueMappingUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id_type","in":"path","description":"Input id_type: ensembl; uniprot;\nuniprot_isoform; hgvs; hgvs38","required":true,"type":"string"},{"name":"id","in":"path","description":"Input id e.g.\nensembl:ENSP00000484409.1/ENSG00000141510.16/ENST00000504290.5;\nuniprot:P04637/P53_HUMAN;\nuniprot_isoform:P04637_9/P53_HUMAN_9;\nhgvs:17:g.79478130C>G;\nhgvs38:17:g.7676594T>G","required":true,"type":"string"},{"name":"positionList","in":"query","description":"Input Residue Positions e.g. 10,100; Anynumber for hgvs;\nReturn all residue mappings if none","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Alignment"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["Get ResidueMapping"],"summary":"POST PDB Residue Mapping by ProteinId","operationId":"postResidueMappingUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id_type","in":"path","description":"Input id_type: ensembl; uniprot;\nuniprot_isoform; hgvs; hgvs38","required":true,"type":"string"},{"name":"id","in":"path","description":"Input id e.g.\nensembl:ENSP00000484409.1/ENSG00000141510.16/ENST00000504290.5;\nuniprot:P04637/P53_HUMAN;\nuniprot_isoform:P04637_9/P53_HUMAN_9;\nhgvs:17:g.79478130C>G;\nhgvs38:17:g.7676594T>G","required":true,"type":"string"},{"name":"positionList","in":"query","description":"Input Residue Positions e.g. 10,100; Anynumber for hgvs;\nReturn all residue mappings if none","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Alignment"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}}},"definitions":{"Alignment":{"type":"object","properties":{"alignmentId":{"type":"integer","format":"int32"},"bitscore":{"type":"number","format":"float"},"chain":{"type":"string"},"evalue":{"type":"string"},"identity":{"type":"number","format":"float"},"identityPositive":{"type":"number","format":"float"},"midlineAlign":{"type":"string"},"pdbAlign":{"type":"string"},"pdbFrom":{"type":"integer","format":"int32"},"pdbId":{"type":"string"},"pdbNo":{"type":"string"},"pdbSeg":{"type":"string"},"pdbTo":{"type":"integer","format":"int32"},"residueMapping":{"type":"array","items":{"$ref":"#/definitions/ResidueMapping"}},"segStart":{"type":"string"},"seqAlign":{"type":"string"},"seqFrom":{"type":"integer","format":"int32"},"seqId":{"type":"string"},"seqTo":{"type":"integer","format":"int32"},"updateDate":{"type":"string"}}},"ResidueMapping":{"type":"object","properties":{"pdbAminoAcid":{"type":"string"},"pdbPosition":{"type":"integer","format":"int32"},"queryAminoAcid":{"type":"string"},"queryPosition":{"type":"integer","format":"int32"}}}}}