{
  "swagger": "2.0",
  "info": {
    "description": "OncoKB, a comprehensive and curated precision oncology knowledge base, offers oncologists detailed, evidence-based information about individual somatic mutations and structural alterations present in patient tumors with the goal of supporting optimal treatment decisions.",
    "version": "v1.0.0",
    "title": "OncoKB APIs",
    "termsOfService": "http://oncokb.org/#/terms",
    "contact": {
      "name": "OncoKB",
      "url": "http://www.oncokb.org",
      "email": "team@oncokb.org"
    },
    "license": {
      "name": "Usage Terms",
      "url": "http://oncokb.org/#/terms"
    }
  },
  "host": "oncokb.org",
  "basePath": "/api/v1",
  "tags": [
    {
      "name": "levels-api-controller",
      "description": "The levels API"
    },
    {
      "name": "variants-api-controller",
      "description": "The variants API"
    },
    {
      "name": "genes-api-controller",
      "description": "The genes API"
    },
    {
      "name": "info-api-controller",
      "description": "This includes all OncoKB general information"
    },
    {
      "name": "search-api-controller",
      "description": "The search API"
    },
    {
      "name": "classification-api-controller",
      "description": "The OncoKB Classification API"
    },
    {
      "name": "drugs-api-controller",
      "description": "the drugs API"
    },
    {
      "name": "evidences-api-controller",
      "description": "The evidences API"
    },
    {
      "name": "utils-api-controller",
      "description": "The utils API"
    }
  ],
  "paths": {
    "/classification/variants": {
      "get": {
        "tags": [
          "Classification"
        ],
        "summary": "classificationVariantsGet",
        "description": "Get All OncoKB Variant Classification.",
        "operationId": "classificationVariantsGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/drugs": {
      "get": {
        "tags": [
          "Drugs"
        ],
        "summary": "drugsGet",
        "description": "Get all curated drugs.",
        "operationId": "drugsGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Drug"
              }
            }
          }
        }
      }
    },
    "/drugs/lookup": {
      "get": {
        "tags": [
          "Drugs",
          "Search"
        ],
        "summary": "drugsLookupGet",
        "description": "Search drugs.",
        "operationId": "drugsLookupGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Drug Name",
            "required": false,
            "type": "string"
          },
          {
            "name": "atcCode",
            "in": "query",
            "description": "ATC Code",
            "required": false,
            "type": "string"
          },
          {
            "name": "synonym",
            "in": "query",
            "description": "Drug Synonyms",
            "required": false,
            "type": "string"
          },
          {
            "name": "exactMatch",
            "in": "query",
            "description": "Exactly Match",
            "required": true,
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Drug"
              }
            }
          }
        }
      }
    },
    "/evidences": {
      "post": {
        "tags": [
          "Evidences"
        ],
        "summary": "evidencesUUIDsGet",
        "description": "Get specific evidences.",
        "operationId": "evidencesUUIDsGetUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "uuids",
            "description": "Unique identifier list.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "The fields to be returned.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Evidence"
            }
          },
          "400": {
            "description": "Error, error message will be given.",
            "schema": {
              "$ref": "#/definitions/ResponseEntity"
            }
          }
        }
      }
    },
    "/evidences/lookup": {
      "get": {
        "tags": [
          "Evidences",
          "Search"
        ],
        "summary": "evidencesLookupGet",
        "description": "Search evidences. Multi-queries are supported.",
        "operationId": "evidencesLookupGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "entrezGeneId",
            "in": "query",
            "description": "The entrez gene ID.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "hugoSymbol",
            "in": "query",
            "description": "The gene symbol used in Human Genome Organisation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "variant",
            "in": "query",
            "description": "Variant name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "tumorType",
            "in": "query",
            "description": "Tumor type name. OncoTree code is supported.",
            "required": false,
            "type": "string"
          },
          {
            "name": "consequence",
            "in": "query",
            "description": "Consequence. Possible value: feature_truncation, frameshift_variant, inframe_deletion, inframe_insertion, start_lost, missense_variant, splice_region_variant, stop_gained, synonymous_variant",
            "required": false,
            "type": "string"
          },
          {
            "name": "proteinStart",
            "in": "query",
            "description": "Protein Start.",
            "required": false,
            "type": "string"
          },
          {
            "name": "proteinEnd",
            "in": "query",
            "description": "Protein End.",
            "required": false,
            "type": "string"
          },
          {
            "name": "source",
            "in": "query",
            "description": "Tumor type source. OncoTree tumor types are the default setting. We may have customized version, like Quest.",
            "required": false,
            "type": "string",
            "default": "oncotree"
          },
          {
            "name": "highestLevelOnly",
            "in": "query",
            "description": "Only show highest level evidences",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "levelOfEvidence",
            "in": "query",
            "description": "Separate by comma. LEVEL_1, LEVEL_2A, LEVEL_2B, LEVEL_3A, LEVEL_3B, LEVEL_4, LEVEL_R1, LEVEL_R2, LEVEL_R3",
            "required": false,
            "type": "string"
          },
          {
            "name": "evidenceTypes",
            "in": "query",
            "description": "Separate by comma. Evidence type includes GENE_SUMMARY, GENE_BACKGROUND, MUTATION_SUMMARY, ONCOGENIC, MUTATION_EFFECT, VUS, PROGNOSTIC_IMPLICATION, DIAGNOSTIC_IMPLICATION, TUMOR_TYPE_SUMMARY, STANDARD_THERAPEUTIC_IMPLICATIONS_FOR_DRUG_SENSITIVITY, STANDARD_THERAPEUTIC_IMPLICATIONS_FOR_DRUG_RESISTANCE, INVESTIGATIONAL_THERAPEUTIC_IMPLICATIONS_DRUG_SENSITIVITY, INVESTIGATIONAL_THERAPEUTIC_IMPLICATIONS_DRUG_RESISTANCE",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "The fields to be returned.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Evidence"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Evidences",
          "Search"
        ],
        "summary": "evidencesLookupPost",
        "description": "Search evidences.",
        "operationId": "evidencesLookupPostUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "List of queries. Please see swagger.json for request body format. Please use JSON string.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EvidenceQueries"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "The fields to be returned.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EvidenceQueryRes"
              }
            }
          }
        }
      }
    },
    "/evidences/{uuid}": {
      "get": {
        "tags": [
          "Evidences"
        ],
        "summary": "evidencesUUIDGet",
        "description": "Get specific evidence.",
        "operationId": "evidencesUUIDGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "Unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "The fields to be returned.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Evidence"
            }
          },
          "400": {
            "description": "Error, error message will be given.",
            "schema": {
              "$ref": "#/definitions/ResponseEntity"
            }
          }
        }
      }
    },
    "/genes": {
      "get": {
        "tags": [
          "Genes"
        ],
        "summary": "genesGet",
        "description": "Get list of currently curated genes.",
        "operationId": "genesGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "The fields to be returned.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Gene"
              }
            }
          }
        }
      }
    },
    "/genes/lookup": {
      "get": {
        "tags": [
          "Genes",
          "Search"
        ],
        "summary": "genesLookupGet",
        "description": "Search gene.",
        "operationId": "genesLookupGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hugoSymbol",
            "in": "query",
            "description": "The gene symbol used in Human Genome Organisation. (Deprecated, use query instead)",
            "required": false,
            "type": "string"
          },
          {
            "name": "entrezGeneId",
            "in": "query",
            "description": "The entrez gene ID. (Deprecated, use query instead)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "query",
            "in": "query",
            "description": "The search query, it could be hugoSymbol or entrezGeneId.",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "The fields to be returned.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Gene"
              }
            }
          }
        }
      }
    },
    "/genes/{entrezGeneId}": {
      "get": {
        "tags": [
          "Genes"
        ],
        "summary": "genesEntrezGeneIdGet",
        "description": "Get specific gene information.",
        "operationId": "genesEntrezGeneIdGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "entrezGeneId",
            "in": "path",
            "description": "The entrez gene ID.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "The fields to be returned.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Gene"
            }
          }
        }
      }
    },
    "/genes/{entrezGeneId}/evidences": {
      "get": {
        "tags": [
          "Evidences"
        ],
        "summary": "genesEntrezGeneIdEvidencesGet",
        "description": "Get list of evidences for specific gene.",
        "operationId": "genesEntrezGeneIdEvidencesGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "entrezGeneId",
            "in": "path",
            "description": "The entrez gene ID.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "evidenceTypes",
            "in": "query",
            "description": "Separate by comma. Evidence type includes GENE_SUMMARY, GENE_BACKGROUND",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GeneEvidence"
              }
            }
          }
        }
      }
    },
    "/genes/{entrezGeneId}/variants": {
      "get": {
        "tags": [
          "Variants"
        ],
        "summary": "genesEntrezGeneIdVariantsGet",
        "description": "Get list of variants for specific gene.",
        "operationId": "genesEntrezGeneIdVariantsGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "entrezGeneId",
            "in": "path",
            "description": "The entrez gene ID.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "The fields to be returned.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Alteration"
              }
            }
          }
        }
      }
    },
    "/info": {
      "get": {
        "tags": [
          "Info"
        ],
        "summary": "infoGet",
        "operationId": "infoGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OncoKBInfo"
            }
          }
        }
      }
    },
    "/levels": {
      "get": {
        "tags": [
          "Levels"
        ],
        "summary": "levelsGet",
        "description": "Get all levels.",
        "operationId": "levelsGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/levels/resistence": {
      "get": {
        "tags": [
          "Levels"
        ],
        "summary": "levelsResistenceGet",
        "description": "Get all resistence levels.",
        "operationId": "levelsResistenceGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/levels/sensitive": {
      "get": {
        "tags": [
          "Levels"
        ],
        "summary": "levelsSensitiveGet",
        "description": "Get all sensitive levels.",
        "operationId": "levelsSensitiveGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "searchGet",
        "description": "General search for possible combinations.",
        "operationId": "searchGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The query ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "hugoSymbol",
            "in": "query",
            "description": "The gene symbol used in Human Genome Organisation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "entrezGeneId",
            "in": "query",
            "description": "The entrez gene ID.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "variant",
            "in": "query",
            "description": "Variant name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "variantType",
            "in": "query",
            "description": "Variant type.",
            "required": false,
            "type": "string"
          },
          {
            "name": "svType",
            "in": "query",
            "description": "Structural Variant Type.",
            "required": false,
            "type": "string",
            "enum": [
              "DELETION",
              "TRANSLOCATION",
              "DUPLICATION",
              "INSERTION",
              "INVERSION",
              "FUSION"
            ]
          },
          {
            "name": "consequence",
            "in": "query",
            "description": "Consequence",
            "required": false,
            "type": "string"
          },
          {
            "name": "proteinStart",
            "in": "query",
            "description": "Protein Start",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "proteinEnd",
            "in": "query",
            "description": "Protein End",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "tumorType",
            "in": "query",
            "description": "Tumor type name. OncoTree code is supported.",
            "required": false,
            "type": "string"
          },
          {
            "name": "source",
            "in": "query",
            "description": "Tumor type source. OncoTree tumor types are the default setting. We may have customized version, like Quest.",
            "required": false,
            "type": "string",
            "default": "oncotree"
          },
          {
            "name": "levels",
            "in": "query",
            "description": "Level of evidences.",
            "required": false,
            "type": "string"
          },
          {
            "name": "highestLevelOnly",
            "in": "query",
            "description": "Only show treatments of highest level",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "queryType",
            "in": "query",
            "description": "Query type. There maybe slight differences between different query types. Currently support web or regular.",
            "required": false,
            "type": "string",
            "default": "regular"
          },
          {
            "name": "evidenceType",
            "in": "query",
            "description": "Evidence type.",
            "required": false,
            "type": "string"
          },
          {
            "name": "hgvs",
            "in": "query",
            "description": "HGVS varaint. Its priority is higher than entrezGeneId/hugoSymbol + variant combination",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "The fields to be returned.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IndicatorQueryResp"
            }
          },
          "400": {
            "description": "Error, error message will be given.",
            "schema": {
              "$ref": "#/definitions/IndicatorQueryResp"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Evidences",
          "Search"
        ],
        "summary": "searchPost",
        "description": "General search for possible combinations.",
        "operationId": "searchPostUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "List of queries. Please see swagger.json for request body format.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EvidenceQueries"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "The fields to be returned.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IndicatorQueryResp"
              }
            }
          },
          "400": {
            "description": "Error, error message will be given.",
            "schema": {
              "$ref": "#/definitions/IndicatorQueryResp"
            }
          }
        }
      }
    },
    "/utils/allActionableVariants": {
      "get": {
        "tags": [
          "Utils"
        ],
        "summary": "utilsAllActionableVariantsGet",
        "description": "Get All Actionable Variants.",
        "operationId": "utilsAllActionableVariantsGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActionableGene"
              }
            }
          }
        }
      }
    },
    "/utils/allActionableVariants.txt": {
      "get": {
        "tags": [
          "Utils"
        ],
        "summary": "utilsAllActionableVariantsTxtGet",
        "description": "Get All Actionable Variants in text file.",
        "operationId": "utilsAllActionableVariantsTxtGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/utils/allAnnotatedVariants": {
      "get": {
        "tags": [
          "Utils"
        ],
        "summary": "utilsAllAnnotatedVariantsGet",
        "description": "Get All Annotated Variants.",
        "operationId": "utilsAllAnnotatedVariantsGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AnnotatedVariant"
              }
            }
          }
        }
      }
    },
    "/utils/allAnnotatedVariants.txt": {
      "get": {
        "tags": [
          "Utils"
        ],
        "summary": "utilsAllAnnotatedVariantsTxtGet",
        "description": "Get All Annotated Variants in text file.",
        "operationId": "utilsAllAnnotatedVariantsTxtGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/utils/cancerGeneList": {
      "get": {
        "tags": [
          "Utils"
        ],
        "summary": "utilsCancerGeneListGet",
        "description": "Get cancer gene list in text file.",
        "operationId": "utilsCancerGeneListGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CancerGene"
              }
            }
          }
        }
      }
    },
    "/variants": {
      "get": {
        "tags": [
          "Variants"
        ],
        "summary": "variantsGet",
        "description": "Get all annotated variants.",
        "operationId": "variantsGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "The fields to be returned.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Alteration"
              }
            }
          }
        }
      }
    },
    "/variants/lookup": {
      "get": {
        "tags": [
          "Search",
          "Variants"
        ],
        "summary": "variantsLookupGet",
        "description": "Search for variants.",
        "operationId": "variantsLookupGetUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "entrezGeneId",
            "in": "query",
            "description": "The entrez gene ID. entrezGeneId is prioritize than hugoSymbol if both parameters have been defined",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "hugoSymbol",
            "in": "query",
            "description": "The gene symbol used in Human Genome Organisation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "variant",
            "in": "query",
            "description": "variant name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "variantType",
            "in": "query",
            "description": "variantType",
            "required": false,
            "type": "string"
          },
          {
            "name": "consequence",
            "in": "query",
            "description": "consequence",
            "required": false,
            "type": "string"
          },
          {
            "name": "proteinStart",
            "in": "query",
            "description": "proteinStart",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "proteinEnd",
            "in": "query",
            "description": "proteinEnd",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "hgvs",
            "in": "query",
            "description": "HGVS varaint. Its priority is higher than entrezGeneId/hugoSymbol + variant combination",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "The fields to be returned.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Alteration"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Search",
          "Variants"
        ],
        "summary": "variantsLookupPost",
        "description": "Search for variants.",
        "operationId": "variantsLookupPostUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "List of queries.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VariantSearchQuery"
              }
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "The fields to be returned.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "TreatmentDrug": {
      "type": "object",
      "properties": {
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "treatmentDrugId": {
          "$ref": "#/definitions/TreatmentDrugId"
        }
      }
    },
    "Query": {
      "type": "object",
      "properties": {
        "alteration": {
          "type": "string"
        },
        "alterationType": {
          "type": "string"
        },
        "consequence": {
          "type": "string"
        },
        "entrezGeneId": {
          "type": "integer",
          "format": "int32"
        },
        "hgvs": {
          "type": "string"
        },
        "hugoSymbol": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "proteinEnd": {
          "type": "integer",
          "format": "int32"
        },
        "proteinStart": {
          "type": "integer",
          "format": "int32"
        },
        "svType": {
          "type": "string",
          "enum": [
            "DELETION",
            "TRANSLOCATION",
            "DUPLICATION",
            "INSERTION",
            "INVERSION",
            "FUSION"
          ]
        },
        "tumorType": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "Article": {
      "type": "object",
      "properties": {
        "abstract": {
          "type": "string"
        },
        "authors": {
          "type": "string"
        },
        "elocationId": {
          "type": "string"
        },
        "issue": {
          "type": "string"
        },
        "journal": {
          "type": "string"
        },
        "link": {
          "type": "string"
        },
        "pages": {
          "type": "string"
        },
        "pmid": {
          "type": "string"
        },
        "pubDate": {
          "type": "string"
        },
        "reference": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "volume": {
          "type": "string"
        }
      }
    },
    "Alteration": {
      "type": "object",
      "properties": {
        "alteration": {
          "type": "string"
        },
        "consequence": {
          "$ref": "#/definitions/VariantConsequence"
        },
        "gene": {
          "$ref": "#/definitions/Gene"
        },
        "name": {
          "type": "string"
        },
        "proteinEnd": {
          "type": "integer",
          "format": "int32"
        },
        "proteinStart": {
          "type": "integer",
          "format": "int32"
        },
        "refResidues": {
          "type": "string"
        },
        "variantResidues": {
          "type": "string"
        }
      }
    },
    "AnnotatedVariant": {
      "type": "object",
      "properties": {
        "entrezGeneId": {
          "type": "integer",
          "format": "int32"
        },
        "gene": {
          "type": "string"
        },
        "isoform": {
          "type": "string"
        },
        "mutationEffect": {
          "type": "string"
        },
        "mutationEffectAbstracts": {
          "type": "string"
        },
        "mutationEffectPmids": {
          "type": "string"
        },
        "oncogenicity": {
          "type": "string"
        },
        "proteinChange": {
          "type": "string"
        },
        "refSeq": {
          "type": "string"
        },
        "variant": {
          "type": "string"
        }
      }
    },
    "Gene": {
      "type": "object",
      "properties": {
        "curatedIsoform": {
          "type": "string"
        },
        "curatedRefSeq": {
          "type": "string"
        },
        "entrezGeneId": {
          "type": "integer",
          "format": "int32"
        },
        "geneAliases": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "hugoSymbol": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "oncogene": {
          "type": "boolean"
        },
        "tsg": {
          "type": "boolean"
        }
      }
    },
    "TumorType": {
      "type": "object",
      "properties": {
        "NCI": {
          "type": "array",
          "description": "NCI Thesaurus Code(s).",
          "items": {
            "type": "string"
          }
        },
        "UMLS": {
          "type": "array",
          "description": "Concept Unique Identifier(s).",
          "items": {
            "type": "string"
          }
        },
        "children": {
          "type": "object",
          "description": "List of all available children tumor types.",
          "additionalProperties": {
            "$ref": "#/definitions/TumorType"
          }
        },
        "code": {
          "type": "string",
          "description": "Unique identifier representing OncoTree tumor types."
        },
        "color": {
          "type": "string",
          "description": "Tumor type color."
        },
        "deprecated": {
          "type": "boolean",
          "example": false,
          "description": "The indicater whether this code has been deprecated."
        },
        "history": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "the numarical identifier of tumor type."
        },
        "level": {
          "type": "integer",
          "format": "int32",
          "description": "-1"
        },
        "links": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "mainType": {
          "$ref": "#/definitions/MainType"
        },
        "name": {
          "type": "string",
          "description": "Tumor type name."
        },
        "parent": {
          "type": "string",
          "description": "The parent node code."
        },
        "tissue": {
          "type": "string",
          "description": "The tissue this tumor type belongs to."
        }
      }
    },
    "Version": {
      "type": "object",
      "properties": {
        "date": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      }
    },
    "TreatmentDrugId": {
      "type": "object",
      "properties": {
        "drug": {
          "$ref": "#/definitions/Drug"
        }
      }
    },
    "GeneEvidence": {
      "type": "object",
      "required": [
        "evidenceId",
        "evidenceType"
      ],
      "properties": {
        "articles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Article"
          }
        },
        "desc": {
          "type": "string"
        },
        "evidenceId": {
          "type": "integer",
          "format": "int32"
        },
        "evidenceType": {
          "type": "string",
          "enum": [
            "GENE_SUMMARY",
            "MUTATION_SUMMARY",
            "TUMOR_TYPE_SUMMARY",
            "GENE_TUMOR_TYPE_SUMMARY",
            "GENE_BACKGROUND",
            "ONCOGENIC",
            "MUTATION_EFFECT",
            "VUS",
            "PROGNOSTIC_IMPLICATION",
            "DIAGNOSTIC_IMPLICATION",
            "STANDARD_THERAPEUTIC_IMPLICATIONS_FOR_DRUG_SENSITIVITY",
            "STANDARD_THERAPEUTIC_IMPLICATIONS_FOR_DRUG_RESISTANCE",
            "INVESTIGATIONAL_THERAPEUTIC_IMPLICATIONS_DRUG_SENSITIVITY",
            "INVESTIGATIONAL_THERAPEUTIC_IMPLICATIONS_DRUG_RESISTANCE"
          ]
        },
        "gene": {
          "$ref": "#/definitions/Gene"
        },
        "id": {
          "type": "string"
        },
        "lastEdit": {
          "type": "string",
          "format": "date-time"
        },
        "shortDesc": {
          "type": "string"
        },
        "status": {
          "type": "string"
        }
      }
    },
    "Evidence": {
      "type": "object",
      "properties": {
        "additionalInfo": {
          "type": "string"
        },
        "alterations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Alteration"
          }
        },
        "articles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Article"
          }
        },
        "cancerType": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "evidenceType": {
          "type": "string",
          "enum": [
            "GENE_SUMMARY",
            "MUTATION_SUMMARY",
            "TUMOR_TYPE_SUMMARY",
            "GENE_TUMOR_TYPE_SUMMARY",
            "GENE_BACKGROUND",
            "ONCOGENIC",
            "MUTATION_EFFECT",
            "VUS",
            "PROGNOSTIC_IMPLICATION",
            "DIAGNOSTIC_IMPLICATION",
            "STANDARD_THERAPEUTIC_IMPLICATIONS_FOR_DRUG_SENSITIVITY",
            "STANDARD_THERAPEUTIC_IMPLICATIONS_FOR_DRUG_RESISTANCE",
            "INVESTIGATIONAL_THERAPEUTIC_IMPLICATIONS_DRUG_SENSITIVITY",
            "INVESTIGATIONAL_THERAPEUTIC_IMPLICATIONS_DRUG_RESISTANCE"
          ]
        },
        "gene": {
          "$ref": "#/definitions/Gene"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "knownEffect": {
          "type": "string"
        },
        "lastEdit": {
          "type": "string",
          "format": "date-time"
        },
        "levelOfEvidence": {
          "type": "string",
          "enum": [
            "LEVEL_0",
            "LEVEL_1",
            "LEVEL_2A",
            "LEVEL_2B",
            "LEVEL_3",
            "LEVEL_3A",
            "LEVEL_3B",
            "LEVEL_4",
            "LEVEL_R1",
            "LEVEL_R2",
            "LEVEL_R3",
            "LEVEL_P1",
            "LEVEL_P2",
            "LEVEL_P3",
            "LEVEL_P4",
            "LEVEL_D1",
            "LEVEL_D2",
            "LEVEL_D3"
          ]
        },
        "oncoTreeType": {
          "$ref": "#/definitions/TumorType"
        },
        "propagation": {
          "type": "string"
        },
        "subtype": {
          "type": "string"
        },
        "treatments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Treatment"
          }
        }
      }
    },
    "IndicatorQueryResp": {
      "type": "object",
      "properties": {
        "alleleExist": {
          "type": "boolean"
        },
        "dataVersion": {
          "type": "string"
        },
        "geneExist": {
          "type": "boolean"
        },
        "geneSummary": {
          "type": "string"
        },
        "highestResistanceLevel": {
          "type": "string",
          "enum": [
            "LEVEL_0",
            "LEVEL_1",
            "LEVEL_2A",
            "LEVEL_2B",
            "LEVEL_3",
            "LEVEL_3A",
            "LEVEL_3B",
            "LEVEL_4",
            "LEVEL_R1",
            "LEVEL_R2",
            "LEVEL_R3",
            "LEVEL_P1",
            "LEVEL_P2",
            "LEVEL_P3",
            "LEVEL_P4",
            "LEVEL_D1",
            "LEVEL_D2",
            "LEVEL_D3"
          ]
        },
        "highestSensitiveLevel": {
          "type": "string",
          "enum": [
            "LEVEL_0",
            "LEVEL_1",
            "LEVEL_2A",
            "LEVEL_2B",
            "LEVEL_3",
            "LEVEL_3A",
            "LEVEL_3B",
            "LEVEL_4",
            "LEVEL_R1",
            "LEVEL_R2",
            "LEVEL_R3",
            "LEVEL_P1",
            "LEVEL_P2",
            "LEVEL_P3",
            "LEVEL_P4",
            "LEVEL_D1",
            "LEVEL_D2",
            "LEVEL_D3"
          ]
        },
        "hotspot": {
          "type": "boolean"
        },
        "lastUpdate": {
          "type": "string"
        },
        "mutationEffect": {
          "$ref": "#/definitions/MutationEffectResp"
        },
        "oncogenic": {
          "type": "string"
        },
        "otherSignificantResistanceLevels": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "LEVEL_0",
              "LEVEL_1",
              "LEVEL_2A",
              "LEVEL_2B",
              "LEVEL_3",
              "LEVEL_3A",
              "LEVEL_3B",
              "LEVEL_4",
              "LEVEL_R1",
              "LEVEL_R2",
              "LEVEL_R3",
              "LEVEL_P1",
              "LEVEL_P2",
              "LEVEL_P3",
              "LEVEL_P4",
              "LEVEL_D1",
              "LEVEL_D2",
              "LEVEL_D3"
            ]
          }
        },
        "otherSignificantSensitiveLevels": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "LEVEL_0",
              "LEVEL_1",
              "LEVEL_2A",
              "LEVEL_2B",
              "LEVEL_3",
              "LEVEL_3A",
              "LEVEL_3B",
              "LEVEL_4",
              "LEVEL_R1",
              "LEVEL_R2",
              "LEVEL_R3",
              "LEVEL_P1",
              "LEVEL_P2",
              "LEVEL_P3",
              "LEVEL_P4",
              "LEVEL_D1",
              "LEVEL_D2",
              "LEVEL_D3"
            ]
          }
        },
        "query": {
          "$ref": "#/definitions/Query"
        },
        "treatments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IndicatorQueryTreatment"
          }
        },
        "tumorTypeSummary": {
          "type": "string"
        },
        "variantExist": {
          "type": "boolean"
        },
        "variantSummary": {
          "type": "string"
        },
        "vus": {
          "type": "boolean"
        }
      }
    },
    "ActionableGene": {
      "type": "object",
      "properties": {
        "abstracts": {
          "type": "string"
        },
        "cancerType": {
          "type": "string"
        },
        "drugs": {
          "type": "string"
        },
        "entrezGeneId": {
          "type": "integer",
          "format": "int32"
        },
        "gene": {
          "type": "string"
        },
        "isoform": {
          "type": "string"
        },
        "level": {
          "type": "string"
        },
        "pmids": {
          "type": "string"
        },
        "proteinChange": {
          "type": "string"
        },
        "refSeq": {
          "type": "string"
        },
        "variant": {
          "type": "string"
        }
      }
    },
    "ArticleAbstract": {
      "type": "object",
      "properties": {
        "abstract": {
          "type": "string"
        },
        "link": {
          "type": "string"
        }
      }
    },
    "Drug": {
      "type": "object",
      "properties": {
        "atcCodes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "drugName": {
          "type": "string"
        },
        "synonyms": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "EvidenceQueryRes": {
      "type": "object",
      "properties": {
        "alleles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Alteration"
          }
        },
        "alterations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Alteration"
          }
        },
        "evidences": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Evidence"
          }
        },
        "gene": {
          "$ref": "#/definitions/Gene"
        },
        "id": {
          "type": "string"
        },
        "levelOfEvidences": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "LEVEL_0",
              "LEVEL_1",
              "LEVEL_2A",
              "LEVEL_2B",
              "LEVEL_3",
              "LEVEL_3A",
              "LEVEL_3B",
              "LEVEL_4",
              "LEVEL_R1",
              "LEVEL_R2",
              "LEVEL_R3",
              "LEVEL_P1",
              "LEVEL_P2",
              "LEVEL_P3",
              "LEVEL_P4",
              "LEVEL_D1",
              "LEVEL_D2",
              "LEVEL_D3"
            ]
          }
        },
        "oncoTreeTypes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TumorType"
          }
        },
        "query": {
          "$ref": "#/definitions/Query"
        }
      }
    },
    "CancerGene": {
      "type": "object",
      "properties": {
        "entrezGeneId": {
          "type": "string"
        },
        "foundation": {
          "type": "boolean"
        },
        "foundationHeme": {
          "type": "boolean"
        },
        "hugoSymbol": {
          "type": "string"
        },
        "mSKHeme": {
          "type": "boolean"
        },
        "mSKImpact": {
          "type": "boolean"
        },
        "occurrenceCount": {
          "type": "integer",
          "format": "int32"
        },
        "oncokbAnnotated": {
          "type": "boolean"
        },
        "sangerCGC": {
          "type": "boolean"
        },
        "vogelstein": {
          "type": "boolean"
        }
      }
    },
    "MainType": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "the numarical identifier of tumor type."
        },
        "name": {
          "type": "string",
          "description": "Tumor type name."
        }
      },
      "description": "General tumor type category."
    },
    "OncoKBInfo": {
      "type": "object",
      "properties": {
        "dataVersion": {
          "$ref": "#/definitions/Version"
        },
        "oncoTreeVersion": {
          "type": "string"
        }
      }
    },
    "VariantConsequence": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "isGenerallyTruncating": {
          "type": "boolean"
        },
        "term": {
          "type": "string"
        }
      }
    },
    "IndicatorQueryTreatment": {
      "type": "object",
      "properties": {
        "abstracts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ArticleAbstract"
          }
        },
        "approvedIndications": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "drugs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Drug"
          }
        },
        "fdaApproved": {
          "type": "boolean"
        },
        "level": {
          "type": "string",
          "enum": [
            "LEVEL_0",
            "LEVEL_1",
            "LEVEL_2A",
            "LEVEL_2B",
            "LEVEL_3",
            "LEVEL_3A",
            "LEVEL_3B",
            "LEVEL_4",
            "LEVEL_R1",
            "LEVEL_R2",
            "LEVEL_R3",
            "LEVEL_P1",
            "LEVEL_P2",
            "LEVEL_P3",
            "LEVEL_P4",
            "LEVEL_D1",
            "LEVEL_D2",
            "LEVEL_D3"
          ]
        },
        "pmids": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ResponseEntity": {
      "type": "object",
      "properties": {
        "body": {
          "type": "object"
        },
        "statusCode": {
          "type": "string",
          "enum": [
            "100",
            "101",
            "102",
            "103",
            "200",
            "201",
            "202",
            "203",
            "204",
            "205",
            "206",
            "207",
            "208",
            "226",
            "300",
            "301",
            "302",
            "303",
            "304",
            "305",
            "307",
            "308",
            "400",
            "401",
            "402",
            "403",
            "404",
            "405",
            "406",
            "407",
            "408",
            "409",
            "410",
            "411",
            "412",
            "413",
            "414",
            "415",
            "416",
            "417",
            "418",
            "419",
            "420",
            "421",
            "422",
            "423",
            "424",
            "426",
            "428",
            "429",
            "431",
            "500",
            "501",
            "502",
            "503",
            "504",
            "505",
            "506",
            "507",
            "508",
            "509",
            "510",
            "511"
          ]
        }
      }
    },
    "Treatment": {
      "type": "object",
      "properties": {
        "approvedIndications": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "drugs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TreatmentDrug"
          }
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "EvidenceQueries": {
      "type": "object",
      "properties": {
        "evidenceTypes": {
          "type": "string"
        },
        "highestLevelOnly": {
          "type": "boolean"
        },
        "levels": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "LEVEL_0",
              "LEVEL_1",
              "LEVEL_2A",
              "LEVEL_2B",
              "LEVEL_3",
              "LEVEL_3A",
              "LEVEL_3B",
              "LEVEL_4",
              "LEVEL_R1",
              "LEVEL_R2",
              "LEVEL_R3",
              "LEVEL_P1",
              "LEVEL_P2",
              "LEVEL_P3",
              "LEVEL_P4",
              "LEVEL_D1",
              "LEVEL_D2",
              "LEVEL_D3"
            ]
          }
        },
        "queries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Query"
          }
        },
        "source": {
          "type": "string"
        }
      }
    },
    "VariantSearchQuery": {
      "type": "object",
      "properties": {
        "consequence": {
          "type": "string"
        },
        "entrezGeneId": {
          "type": "integer",
          "format": "int32"
        },
        "hgvs": {
          "type": "string"
        },
        "hugoSymbol": {
          "type": "string"
        },
        "proteinEnd": {
          "type": "integer",
          "format": "int32"
        },
        "proteinStart": {
          "type": "integer",
          "format": "int32"
        },
        "variant": {
          "type": "string"
        },
        "variantType": {
          "type": "string"
        }
      }
    },
    "MutationEffectResp": {
      "type": "object",
      "properties": {
        "citations": {
          "$ref": "#/definitions/Citations"
        },
        "description": {
          "type": "string"
        },
        "knownEffect": {
          "type": "string"
        }
      }
    },
    "Citations": {
      "type": "object",
      "properties": {
        "abstracts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ArticleAbstract"
          }
        },
        "pmids": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Link": {
      "type": "object",
      "properties": {
        "href": {
          "type": "string"
        },
        "method": {
          "type": "string"
        },
        "rel": {
          "type": "string"
        }
      }
    }
  }
}
