{"swagger":"2.0","info":{"description":"Every response is contained by an envelope. The meta key is used to communicate extra information about the response to the developer. \nIn order to expose the data structure, we return object model in the Swagger response class directly instead of envelope structure. So you may not be able to reproduce data structure through swagger.json directly.","version":"v1.0.0","title":"OncoKB APIs","termsOfService":"http://oncokb.org/#/terms","contact":{"name":"OncoKB","url":"http://www.oncokb.org","email":"team@oncokb.org"},"license":{"name":"Usage Terms","url":"http://oncokb.org/#/terms"}},"host":"oncokb.org","basePath":"/api/v1","tags":[{"name":"levels-api-controller","description":"The levels API"},{"name":"variants-api-controller","description":"The variants API"},{"name":"genes-api-controller","description":"The genes API"},{"name":"search-api-controller","description":"The search API"},{"name":"drugs-api-controller","description":"the drugs API"},{"name":"evidences-api-controller","description":"The evidences API"},{"name":"utils-api-controller","description":"The utils API"}],"paths":{"/drugs":{"get":{"tags":["Drugs"],"summary":"drugsGet","description":"Get all curated drugs.","operationId":"drugsGetUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Drug"}}},"400":{"description":"Error, error message will be given.","schema":{"$ref":"#/definitions/ApiErrorResp"}}}}},"/drugs/lookup":{"get":{"tags":["Drugs","Search"],"summary":"drugsLookupGet","description":"Search drugs.","operationId":"drugsLookupGetUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"name","in":"query","description":"Drug Name","required":false,"type":"string"},{"name":"atcCode","in":"query","description":"ATC Code","required":false,"type":"string"},{"name":"synonym","in":"query","description":"Drug Synonyms","required":false,"type":"string"},{"name":"exactMatch","in":"query","description":"Exactly Match","required":true,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Drug"}}},"400":{"description":"Error, error message will be given.","schema":{"$ref":"#/definitions/ApiErrorResp"}}}}},"/evidences/lookup":{"get":{"tags":["Evidences","Search"],"summary":"evidencesLookupGet","description":"Search evidences. Multi-queries are supported.","operationId":"evidencesLookupGetUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"entrezGeneId","in":"query","description":"The entrez gene ID. Use comma to seperate multi-queries.","required":false,"type":"integer","format":"int32"},{"name":"hugoSymbol","in":"query","description":"The gene symbol used in Human Genome Organisation. Use comma to seperate multi-queries.","required":false,"type":"string"},{"name":"variant","in":"query","description":"Variant name. Use comma to seperate multi-queries.","required":false,"type":"string"},{"name":"tumorType","in":"query","description":"Tumor type name. OncoTree code is supported. Use comma to seperate multi-queries.","required":false,"type":"string"},{"name":"consequence","in":"query","description":"Consequence. Use comma to seperate multi-queries. Possible value: feature_truncation, frameshift_variant, inframe_deletion, inframe_insertion, initiator_codon_variant, missense_variant, splice_region_variant, stop_gained, synonymous_variant","required":false,"type":"string"},{"name":"proteinStart","in":"query","description":"Protein Start. Use comma to seperate multi-queries.","required":false,"type":"string"},{"name":"proteinEnd","in":"query","description":"Protein End. Use comma to seperate multi-queries.","required":false,"type":"string"},{"name":"source","in":"query","description":"Tumor type source. OncoTree tumor types are the default setting. We may have customized version, like Quest.","required":false,"type":"string","default":"oncotree"},{"name":"highestLevelOnly","in":"query","description":"Only show highest level evidences","required":false,"type":"boolean","default":false},{"name":"levelOfEvidence","in":"query","description":"Separate by comma. LEVEL_1, LEVEL_2A, LEVEL_2B, LEVEL_3A, LEVEL_3B, LEVEL_4, LEVEL_R1, LEVEL_R2, LEVEL_R3","required":false,"type":"string"},{"name":"evidenceTypes","in":"query","description":"Separate by comma. Evidence type includes GENE_SUMMARY, GENE_BACKGROUND, MUTATION_SUMMARY, ONCOGENIC, MUTATION_EFFECT, VUS, PREVALENCE, PROGNOSTIC_IMPLICATION, TUMOR_TYPE_SUMMARY, NCCN_GUIDELINES, STANDARD_THERAPEUTIC_IMPLICATIONS_FOR_DRUG_SENSITIVITY, STANDARD_THERAPEUTIC_IMPLICATIONS_FOR_DRUG_RESISTANCE, INVESTIGATIONAL_THERAPEUTIC_IMPLICATIONS_DRUG_SENSITIVITY, INVESTIGATIONAL_THERAPEUTIC_IMPLICATIONS_DRUG_RESISTANCE, CLINICAL_TRIAL","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Evidence"}}},"400":{"description":"Error, error message will be given.","schema":{"$ref":"#/definitions/ApiErrorResp"}}}},"post":{"tags":["Evidences","Search"],"summary":"evidencesLookupPost","description":"Search evidences.","operationId":"evidencesLookupPostUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"List of queries. Please see swagger.json for request body format. Please use JSON string.","required":true,"schema":{"$ref":"#/definitions/EvidenceQueries"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/EvidenceQueryRes"}}},"400":{"description":"Error, error message will be given.","schema":{"$ref":"#/definitions/ApiErrorResp"}}}}},"/genes":{"get":{"tags":["Genes"],"summary":"genesGet","description":"Get list of currently curated genes.","operationId":"genesGetUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Gene"}}},"400":{"description":"Error, error message will be given.","schema":{"$ref":"#/definitions/ApiErrorResp"}}}}},"/genes/lookup":{"get":{"tags":["Genes","Search"],"summary":"genesLookupGet","description":"Search gene.","operationId":"genesLookupGetUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"hugoSymbol","in":"query","description":"The gene symbol used in Human Genome Organisation.","required":false,"type":"string"},{"name":"entrezGeneId","in":"query","description":"The entrez gene ID.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Gene"}}},"400":{"description":"Error, error message will be given.","schema":{"$ref":"#/definitions/ApiErrorResp"}}}}},"/genes/{entrezGeneId}":{"get":{"tags":["Genes"],"summary":"genesEntrezGeneIdGet","description":"Get specific gene information.","operationId":"genesEntrezGeneIdGetUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"entrezGeneId","in":"path","description":"The entrez gene ID.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Gene"}},"400":{"description":"Error, error message will be given.","schema":{"$ref":"#/definitions/ApiObjectResp"}}}}},"/genes/{entrezGeneId}/evidences":{"get":{"tags":["Evidences"],"summary":"genesEntrezGeneIdEvidencesGet","description":"Get list of evidences for specific gene.","operationId":"genesEntrezGeneIdEvidencesGetUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"entrezGeneId","in":"path","description":"The entrez gene ID.","required":true,"type":"integer","format":"int32"},{"name":"evidenceTypes","in":"query","description":"Separate by comma. Evidence type includes GENE_SUMMARY, GENE_BACKGROUND","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/GeneEvidence"}}},"400":{"description":"Error, error message will be given.","schema":{"$ref":"#/definitions/ApiErrorResp"}}}}},"/genes/{entrezGeneId}/variants":{"get":{"tags":["Variants"],"summary":"genesEntrezGeneIdVariantsGet","description":"Get list of variants for specific gene.","operationId":"genesEntrezGeneIdVariantsGetUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"entrezGeneId","in":"path","description":"The entrez gene ID.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Alteration"}}},"400":{"description":"Error, error message will be given.","schema":{"$ref":"#/definitions/ApiErrorResp"}}}}},"/levels":{"get":{"tags":["Levels"],"summary":"levelsGet","description":"Get all levels.","operationId":"levelsGetUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiObjectResp"}},"400":{"description":"Error, error message will be given.","schema":{"$ref":"#/definitions/ApiErrorResp"}}}}},"/levels/resistence":{"get":{"tags":["Levels"],"summary":"levelsResistenceGet","description":"Get all resistence levels.","operationId":"levelsResistenceGetUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiObjectResp"}},"400":{"description":"Error, error message will be given.","schema":{"$ref":"#/definitions/ApiErrorResp"}}}}},"/levels/sensitive":{"get":{"tags":["Levels"],"summary":"levelsSensitiveGet","description":"Get all sensitive levels.","operationId":"levelsSensitiveGetUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiObjectResp"}},"400":{"description":"Error, error message will be given.","schema":{"$ref":"#/definitions/ApiErrorResp"}}}}},"/search":{"get":{"tags":["Search"],"summary":"searchGet","description":"General search for possible combinations.","operationId":"searchGetUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"query","description":"The query ID","required":false,"type":"string"},{"name":"hugoSymbol","in":"query","description":"The gene symbol used in Human Genome Organisation.","required":false,"type":"string"},{"name":"entrezGeneId","in":"query","description":"The entrez gene ID.","required":false,"type":"integer","format":"int32"},{"name":"variant","in":"query","description":"Variant name.","required":false,"type":"string"},{"name":"consequence","in":"query","description":"Consequence","required":false,"type":"string"},{"name":"proteinStart","in":"query","description":"Protein Start","required":false,"type":"integer","format":"int32"},{"name":"proteinEnd","in":"query","description":"Protein End","required":false,"type":"integer","format":"int32"},{"name":"tumorType","in":"query","description":"Tumor type name. OncoTree code is supported.","required":false,"type":"string"},{"name":"source","in":"query","description":"Tumor type source. OncoTree tumor types are the default setting. We may have customized version, like Quest.","required":false,"type":"string","default":"oncotree"},{"name":"levels","in":"query","description":"Level of evidences.","required":false,"type":"string"},{"name":"highestLevelOnly","in":"query","description":"Only show treatments of highest level","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/IndicatorQueryResp"}},"400":{"description":"Error, error message will be given.","schema":{"$ref":"#/definitions/ApiErrorResp"}}}},"post":{"tags":["Evidences","Search"],"summary":"searchPost","description":"General search for possible combinations.","operationId":"searchPostUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"List of queries. Please see swagger.json for request body format.","required":true,"schema":{"$ref":"#/definitions/EvidenceQueries"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IndicatorQueryResp"}}},"400":{"description":"Error, error message will be given.","schema":{"$ref":"#/definitions/ApiErrorResp"}}}}},"/utils/allActionableVariants":{"get":{"tags":["Utils"],"summary":"utilsAllActionableVariantsGet","description":"Get All Actionable Variants.","operationId":"utilsAllActionableVariantsGetUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ActionableGene"}}},"400":{"description":"Error, error message will be given.","schema":{"$ref":"#/definitions/ApiErrorResp"}}}}},"/utils/allActionableVariants.txt":{"get":{"tags":["Utils"],"summary":"utilsAllActionableVariantsTxtGet","description":"Get All Actionable Variants in text file.","operationId":"utilsAllActionableVariantsTxtGetUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/utils/allAnnotatedVariants":{"get":{"tags":["Utils"],"summary":"utilsAllAnnotatedVariantsGet","description":"Get All Annotated Variants.","operationId":"utilsAllAnnotatedVariantsGetUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AnnotatedVariant"}}},"400":{"description":"Error, error message will be given.","schema":{"$ref":"#/definitions/ApiErrorResp"}}}}},"/utils/allAnnotatedVariants.txt":{"get":{"tags":["Utils"],"summary":"utilsAllAnnotatedVariantsTxtGet","description":"Get All Annotated Variants in text file.","operationId":"utilsAllAnnotatedVariantsTxtGetUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/variants":{"get":{"tags":["Variants"],"summary":"variantsGet","description":"Get all annotated variants.","operationId":"variantsGetUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Alteration"}}},"400":{"description":"Error, error message will be given.","schema":{"$ref":"#/definitions/ApiErrorResp"}}}}},"/variants/lookup":{"get":{"tags":["Search","Variants"],"summary":"variantsLookupGet","description":"Search for variants.","operationId":"variantsLookupGetUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"entrezGeneId","in":"query","description":"The entrez gene ID. entrezGeneId is prioritize than hugoSymbol if both parameters have been defined","required":false,"type":"integer","format":"int32"},{"name":"hugoSymbol","in":"query","description":"The gene symbol used in Human Genome Organisation.","required":false,"type":"string"},{"name":"variant","in":"query","description":"variant name.","required":false,"type":"string"},{"name":"variantType","in":"query","description":"variantType","required":false,"type":"string"},{"name":"consequence","in":"query","description":"consequence","required":false,"type":"string"},{"name":"proteinStart","in":"query","description":"proteinStart","required":false,"type":"integer","format":"int32"},{"name":"proteinEnd","in":"query","description":"proteinEnd","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Alteration"}}},"400":{"description":"Error, error message will be given.","schema":{"$ref":"#/definitions/ApiErrorResp"}}}}}},"definitions":{"Drug":{"type":"object","properties":{"atcCodes":{"type":"array","items":{"type":"string"}},"drugName":{"type":"string"},"synonyms":{"type":"array","items":{"type":"string"}}}},"ApiErrorResp":{"type":"object","properties":{"meta":{"$ref":"#/definitions/Meta"}}},"OncoTreeType":{"type":"object","properties":{"cancerType":{"type":"string"},"code":{"type":"string"},"level":{"type":"string"},"subtype":{"type":"string"},"tissue":{"type":"string"}}},"Meta":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"errorMessage":{"type":"string"},"errorType":{"type":"string"}}},"EvidenceQueryRes":{"type":"object","properties":{"alleles":{"type":"array","items":{"$ref":"#/definitions/Alteration"}},"alterations":{"type":"array","items":{"$ref":"#/definitions/Alteration"}},"evidences":{"type":"array","items":{"$ref":"#/definitions/Evidence"}},"gene":{"$ref":"#/definitions/Gene"},"id":{"type":"string"},"levelOfEvidences":{"type":"array","items":{"type":"string","enum":["LEVEL_0","LEVEL_1","LEVEL_2A","LEVEL_2B","LEVEL_3","LEVEL_3A","LEVEL_3B","LEVEL_4","LEVEL_R1","LEVEL_R2","LEVEL_R3"]}},"oncoTreeTypes":{"type":"array","items":{"$ref":"#/definitions/OncoTreeType"}},"query":{"$ref":"#/definitions/Query"}}},"Query":{"type":"object","properties":{"alteration":{"type":"string"},"alterationType":{"type":"string"},"consequence":{"type":"string"},"entrezGeneId":{"type":"integer","format":"int32"},"hugoSymbol":{"type":"string"},"id":{"type":"string"},"proteinEnd":{"type":"integer","format":"int32"},"proteinStart":{"type":"integer","format":"int32"},"queryId":{"type":"string"},"tumorType":{"type":"string"}}},"Article":{"type":"object","properties":{"abstract":{"type":"string"},"authors":{"type":"string"},"elocationId":{"type":"string"},"issue":{"type":"string"},"journal":{"type":"string"},"link":{"type":"string"},"pages":{"type":"string"},"pmid":{"type":"string"},"pubDate":{"type":"string"},"reference":{"type":"string"},"title":{"type":"string"},"volume":{"type":"string"}}},"NccnGuideline":{"type":"object","properties":{"additionalInfo":{"type":"string"},"category":{"type":"string"},"description":{"type":"string"},"disease":{"type":"string"},"pages":{"type":"string"},"version":{"type":"string"}}},"Alteration":{"type":"object","properties":{"alteration":{"type":"string"},"consequence":{"$ref":"#/definitions/VariantConsequence"},"gene":{"$ref":"#/definitions/Gene"},"name":{"type":"string"},"proteinEnd":{"type":"integer","format":"int32"},"proteinStart":{"type":"integer","format":"int32"},"refResidues":{"type":"string"},"variantResidues":{"type":"string"}}},"AnnotatedVariant":{"type":"object","properties":{"gene":{"type":"string"},"mutationEffect":{"type":"string"},"mutationEffectAbstracts":{"type":"string"},"mutationEffectPmids":{"type":"string"},"oncogenicity":{"type":"string"},"variant":{"type":"string"}}},"VariantConsequence":{"type":"object","properties":{"description":{"type":"string"},"isGenerallyTruncating":{"type":"boolean"},"term":{"type":"string"}}},"IndicatorQueryTreatment":{"type":"object","properties":{"abstracts":{"type":"array","items":{"$ref":"#/definitions/ArticleAbstract"}},"approvedIndications":{"type":"array","items":{"type":"string"}},"drugs":{"type":"array","items":{"$ref":"#/definitions/Drug"}},"fdaApproved":{"type":"boolean"},"level":{"type":"string","enum":["LEVEL_0","LEVEL_1","LEVEL_2A","LEVEL_2B","LEVEL_3","LEVEL_3A","LEVEL_3B","LEVEL_4","LEVEL_R1","LEVEL_R2","LEVEL_R3"]},"pmids":{"type":"array","items":{"type":"string"}}}},"Treatment":{"type":"object","properties":{"approvedIndications":{"type":"array","items":{"type":"string"}},"drugs":{"type":"array","items":{"$ref":"#/definitions/Drug"}}}},"EvidenceQueries":{"type":"object","properties":{"evidenceTypes":{"type":"string"},"highestLevelOnly":{"type":"boolean"},"levels":{"type":"array","items":{"type":"string","enum":["LEVEL_0","LEVEL_1","LEVEL_2A","LEVEL_2B","LEVEL_3","LEVEL_3A","LEVEL_3B","LEVEL_4","LEVEL_R1","LEVEL_R2","LEVEL_R3"]}},"queries":{"type":"array","items":{"$ref":"#/definitions/Query"}},"source":{"type":"string"}}},"Gene":{"type":"object","properties":{"curatedIsoform":{"type":"string"},"curatedRefSeq":{"type":"string"},"entrezGeneId":{"type":"integer","format":"int32"},"geneAliases":{"type":"array","items":{"type":"string"}},"hugoSymbol":{"type":"string"},"name":{"type":"string"},"oncogene":{"type":"boolean"},"tsg":{"type":"boolean"}}},"GeneEvidence":{"type":"object","required":["evidenceId","evidenceType"],"properties":{"articles":{"type":"array","items":{"$ref":"#/definitions/Article"}},"desc":{"type":"string"},"evidenceId":{"type":"integer","format":"int32"},"evidenceType":{"type":"string","enum":["GENE_SUMMARY","MUTATION_SUMMARY","TUMOR_TYPE_SUMMARY","GENE_TUMOR_TYPE_SUMMARY","GENE_BACKGROUND","ONCOGENIC","MUTATION_EFFECT","VUS","PREVALENCE","PROGNOSTIC_IMPLICATION","NCCN_GUIDELINES","STANDARD_THERAPEUTIC_IMPLICATIONS_FOR_DRUG_SENSITIVITY","STANDARD_THERAPEUTIC_IMPLICATIONS_FOR_DRUG_RESISTANCE","INVESTIGATIONAL_THERAPEUTIC_IMPLICATIONS_DRUG_SENSITIVITY","INVESTIGATIONAL_THERAPEUTIC_IMPLICATIONS_DRUG_RESISTANCE","CLINICAL_TRIAL"]},"gene":{"$ref":"#/definitions/Gene"},"id":{"type":"string"},"lastEdit":{"type":"string","format":"date-time"},"shortDesc":{"type":"string"},"status":{"type":"string"}}},"ClinicalTrial":{"type":"object","properties":{"cdrId":{"type":"string"},"countries":{"type":"array","items":{"type":"string"}},"diseaseCondition":{"type":"string"},"drugs":{"type":"array","items":{"$ref":"#/definitions/Drug"}},"eligibilityCriteria":{"type":"string"},"inUSA":{"type":"boolean"},"lastChangedDate":{"type":"string"},"nctId":{"type":"string"},"open":{"type":"boolean"},"phase":{"type":"string"},"purpose":{"type":"string"},"recruitingStatus":{"type":"string"},"title":{"type":"string"}}},"ApiObjectResp":{"type":"object","properties":{"data":{"type":"object"},"meta":{"$ref":"#/definitions/Meta"}}},"Evidence":{"type":"object","properties":{"additionalInfo":{"type":"string"},"alterations":{"type":"array","items":{"$ref":"#/definitions/Alteration"}},"articles":{"type":"array","items":{"$ref":"#/definitions/Article"}},"cancerType":{"type":"string"},"clinicalTrials":{"type":"array","items":{"$ref":"#/definitions/ClinicalTrial"}},"description":{"type":"string"},"evidenceType":{"type":"string","enum":["GENE_SUMMARY","MUTATION_SUMMARY","TUMOR_TYPE_SUMMARY","GENE_TUMOR_TYPE_SUMMARY","GENE_BACKGROUND","ONCOGENIC","MUTATION_EFFECT","VUS","PREVALENCE","PROGNOSTIC_IMPLICATION","NCCN_GUIDELINES","STANDARD_THERAPEUTIC_IMPLICATIONS_FOR_DRUG_SENSITIVITY","STANDARD_THERAPEUTIC_IMPLICATIONS_FOR_DRUG_RESISTANCE","INVESTIGATIONAL_THERAPEUTIC_IMPLICATIONS_DRUG_SENSITIVITY","INVESTIGATIONAL_THERAPEUTIC_IMPLICATIONS_DRUG_RESISTANCE","CLINICAL_TRIAL"]},"gene":{"$ref":"#/definitions/Gene"},"knownEffect":{"type":"string"},"lastEdit":{"type":"string","format":"date-time"},"levelOfEvidence":{"type":"string","enum":["LEVEL_0","LEVEL_1","LEVEL_2A","LEVEL_2B","LEVEL_3","LEVEL_3A","LEVEL_3B","LEVEL_4","LEVEL_R1","LEVEL_R2","LEVEL_R3"]},"nccnGuidelines":{"type":"array","items":{"$ref":"#/definitions/NccnGuideline"}},"oncoTreeType":{"$ref":"#/definitions/OncoTreeType"},"subtype":{"type":"string"},"treatments":{"type":"array","items":{"$ref":"#/definitions/Treatment"}}}},"ApiListResp":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object"}},"meta":{"$ref":"#/definitions/Meta"}}},"IndicatorQueryResp":{"type":"object","properties":{"alleleExist":{"type":"boolean"},"dataVersion":{"type":"string"},"geneExist":{"type":"boolean"},"geneSummary":{"type":"string"},"highestResistanceLevel":{"type":"string","enum":["LEVEL_0","LEVEL_1","LEVEL_2A","LEVEL_2B","LEVEL_3","LEVEL_3A","LEVEL_3B","LEVEL_4","LEVEL_R1","LEVEL_R2","LEVEL_R3"]},"highestSensitiveLevel":{"type":"string","enum":["LEVEL_0","LEVEL_1","LEVEL_2A","LEVEL_2B","LEVEL_3","LEVEL_3A","LEVEL_3B","LEVEL_4","LEVEL_R1","LEVEL_R2","LEVEL_R3"]},"hotspot":{"type":"boolean"},"lastUpdate":{"type":"string"},"oncogenic":{"type":"string"},"otherSignificantResistanceLevels":{"type":"array","items":{"type":"string","enum":["LEVEL_0","LEVEL_1","LEVEL_2A","LEVEL_2B","LEVEL_3","LEVEL_3A","LEVEL_3B","LEVEL_4","LEVEL_R1","LEVEL_R2","LEVEL_R3"]}},"otherSignificantSensitiveLevels":{"type":"array","items":{"type":"string","enum":["LEVEL_0","LEVEL_1","LEVEL_2A","LEVEL_2B","LEVEL_3","LEVEL_3A","LEVEL_3B","LEVEL_4","LEVEL_R1","LEVEL_R2","LEVEL_R3"]}},"query":{"$ref":"#/definitions/Query"},"treatments":{"type":"array","items":{"$ref":"#/definitions/IndicatorQueryTreatment"}},"tumorTypeSummary":{"type":"string"},"variantExist":{"type":"boolean"},"variantSummary":{"type":"string"},"vus":{"type":"boolean"}}},"ActionableGene":{"type":"object","properties":{"abstracts":{"type":"string"},"cancerType":{"type":"string"},"drugs":{"type":"string"},"gene":{"type":"string"},"level":{"type":"string"},"pmids":{"type":"string"},"variant":{"type":"string"}}},"ArticleAbstract":{"type":"object","properties":{"abstract":{"type":"string"},"link":{"type":"string"}}}}}