{"swagger":"2.0","info":{"description":"PDB Annotation API","version":"2.0","title":"PDB Annotation API","contact":{"name":"CMO, MSKCC"},"license":{"name":"GNU AFFERO GENERAL PUBLIC LICENSE Version 3","url":"https://github.com/cBioPortal/pdb-annotation/blob/master/LICENSE"}},"host":"cbioportal.mskcc.org","basePath":"/pdb-annotation","tags":[{"name":"pdb-annotation-controller","description":"Pdb Annotation Controller"}],"paths":{"/pdb_annotation/alignment/byPdb":{"post":{"tags":["pdb-annotation-controller"],"summary":"get pdb uniprot alignments by pdb id","operationId":"postPdbAlignmentByPdb","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"pdbIds","in":"query","description":"Comma separated list of pdb ids. For example 1a37,1a4o","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/PdbUniprotAlignment"}}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/pdb_annotation/alignment/byPdb/{pdbIds}":{"get":{"tags":["pdb-annotation-controller"],"summary":"get pdb uniprot alignments by pdb id","operationId":"getPdbAlignmentByPdb","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"pdbIds","in":"path","description":"Comma separated list of pdb ids. For example 1a37,1a4o","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"csv"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/PdbUniprotAlignment"}}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/pdb_annotation/alignment/byUniprot":{"post":{"tags":["pdb-annotation-controller"],"summary":"get pdb uniprot alignments by uniprot id","operationId":"postPdbAlignmentByUniprot","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"uniprotIds","in":"query","description":"Comma separated list of uniprot ids. For example P53_HUMAN,RASK_HUMAN","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/PdbUniprotAlignment"}}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/pdb_annotation/alignment/byUniprot/{uniprotIds}":{"get":{"tags":["pdb-annotation-controller"],"summary":"get pdb uniprot alignments by uniprot id","operationId":"getPdbAlignmentByUniprot","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"uniprotIds","in":"path","description":"Comma separated list of uniprot ids. For example P53_HUMAN,RASK_HUMAN","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"csv"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/PdbUniprotAlignment"}}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/pdb_annotation/header":{"post":{"tags":["pdb-annotation-controller"],"summary":"get pdb header info by pdb id","operationId":"postPdbHeader","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"pdbIds","in":"query","description":"Comma separated list of pdb ids. For example 1a37,1a4o","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/PdbHeader"}}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/pdb_annotation/header/{pdbIds}":{"get":{"tags":["pdb-annotation-controller"],"summary":"get pdb header info by pdb id","operationId":"getPdbHeader","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"pdbIds","in":"path","description":"Comma separated list of pdb ids. For example 1a37,1a4o","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"csv"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/PdbHeader"}}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/pdb_annotation/map":{"post":{"tags":["pdb-annotation-controller"],"summary":"get position mapping for alignments","operationId":"postPositionMap","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"positions","in":"query","description":"Comma separated list of uniprot positions. For example 97,100,105","required":true,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"alignments","in":"query","description":"Comma separated list of alignment ids. For example 3412121,3412119","required":true,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/PdbUniprotResidueMapping"}}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/pdb_annotation/map/{positions}/{alignments}":{"get":{"tags":["pdb-annotation-controller"],"summary":"get position mapping for alignments","operationId":"getPositionMap","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"positions","in":"path","description":"Comma separated list of uniprot positions. For example 97,100,105","required":true,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"csv"},{"name":"alignments","in":"path","description":"Comma separated list of alignment ids. For example 3412121,3412119","required":true,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"csv"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/PdbUniprotResidueMapping"}}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/pdb_annotation/summary":{"post":{"tags":["pdb-annotation-controller"],"summary":"get alignment summary by uniprot id","operationId":"postAlignmentSummary","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"uniprotIds","in":"query","description":"Comma separated list of uniprot ids. For example P53_HUMAN,RASK_HUMAN","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/AlignmentSummary"}}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/pdb_annotation/summary/{uniprotIds}":{"get":{"tags":["pdb-annotation-controller"],"summary":"get alignment summary by uniprot id","operationId":"getAlignmentSummary","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"uniprotIds","in":"path","description":"Comma separated list of uniprot ids. For example P53_HUMAN,RASK_HUMAN","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"csv"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/AlignmentSummary"}}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}}},"definitions":{"PdbUniprotResidueMapping":{"properties":{"alignmentId":{"type":"integer","format":"int64"},"match":{"type":"string"},"pdbInsertionCode":{"type":"string"},"pdbPosition":{"type":"integer","format":"int64"},"uniprotPosition":{"type":"integer","format":"int64"}}},"AlignmentSummary":{"properties":{"alignmentCount":{"type":"integer","format":"int32"},"uniprotId":{"type":"string"}}},"PdbUniprotAlignment":{"properties":{"alignmentId":{"type":"integer","format":"int64"},"chain":{"type":"string"},"eValue":{"type":"number","format":"double"},"identity":{"type":"number","format":"double"},"identityP":{"type":"number","format":"double"},"midlineAlign":{"type":"string"},"pdbAlign":{"type":"string"},"pdbFrom":{"type":"string"},"pdbId":{"type":"string"},"pdbTo":{"type":"string"},"uniprotAlign":{"type":"string"},"uniprotFrom":{"type":"integer","format":"int64"},"uniprotId":{"type":"string"},"uniprotTo":{"type":"integer","format":"int64"}}},"PdbHeader":{"properties":{"compound":{"type":"object"},"pdbId":{"type":"string"},"source":{"type":"object"},"title":{"type":"string"}}}}}