.studyViewFlexContainer {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.studyViewSurvivalPlot {
    float: left;
    margin: 5px;
}

.studyViewSurvivalPlotTitle {
    font-size: 18px;
    color: #000;
    font-weight: 700;
    text-align: center;
}

.studyViewSurvivalPlotBody {
    position: relative
}

.studyViewAutoMargin {
    margin: auto;
}

.studyViewLoadingIndicator {
    display: flex;
    align-items: center;
    justify-content: center;
}
.userSelections {
    font-size: 12px;

    .filter {
        padding-right: 10px;
        display: inline;
        > .name {
            display: inline;
            padding-right: 5px;
        }
        > .value {
            padding-right: 5px;
            font-weight: bold;
            display: inline;

            > .label {
                padding-right: 5px;
            }
        }
        &:last-child {
            padding-right: 0px;
        }
    }
}