.selectedInfo {
    position: absolute;
    top: 0;
    right: 20px;
    display: flex;
    z-index: 2;
    align-items: center;
}

.selectedInfoCheckbox {
    margin: 2px 3px 0 0 !important;
}

.mainTabs{
    position: relative;
}

.studyViewSurvivalPlot {
    float: left;
    margin: 5px;
}

.studyViewSurvivalPlotTitle {
    font-size: 18px;
    color: #000;
    font-weight: 700;
    text-align: center;
}

.studyViewSurvivalPlotBody {
    position: relative
}

.studyViewAutoMargin {
    margin: auto;
}

.studyViewLoadingIndicator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-direction: column;
}
.userSelections {
    font-size: 13px;
    margin: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.parentGroupLogic {
    background-color: #eeeeee;
    border-radius: 5px;
    margin: 2px 5px 2px 0;
    padding: 5px;
}

.summaryClearAllBtn {
    height: 30px;
    margin-left: 5px !important;
}

.filterClinicalAttrName {
    font-size: 13px;
    font-weight: bold;
}

.summary{
    flex-grow: 1;
    .description{
        font-size: 13px;
    }
}