$selectHeight: 30px;
$selectHeightInner: $selectHeight - 2px;

.studyViewSummaryHeader{
    .Select {
        font-size: 14px;
        width: 220px;
        height: $selectHeight;

        .Select-control {
            height:$selectHeightInner;
        }

        .Select-input {
            height:$selectHeightInner;
            input {
                padding: 0px 5px;
                line-height: $selectHeightInner;
            }
        }

        .Select-value {
          line-height: $selectHeightInner !important;

          .Select-value-label {
            line-height: $selectHeightInner;
          }
        }

        .Select-menu-outer {
            width: 300px;
            max-height: 400px;
            z-index: 100;
        }

        .Select-placeholder {
            line-height: $selectHeightInner;
        }

        .Select-menu {
            max-height: 398px; // needs to be 2 less than Select-menu-outer height to not hide border. Irrelevant
                              //    as long as & > div > div:nth-child(2) max-height is less
            overflow:hidden;

            & > div > div:nth-child(2){
                max-height:350px !important;
                overflow-x:hidden !important;
                overflow-y:scroll !important;
            }
        }

        .Select-option {
            line-height: 1.25;
        }
    }
}

[data-mfb-label]:after {
    background: rgba(0, 0, 0, 1) !important;
    color: white !important;
}

.mfb-component__main-icon--active, .mfb-component__main-icon--resting,
.mfb-component__child-icon {
    line-height: 56px !important;
    font-size: 18px !important;
}

#geneBoxValidationStatus > div {
    max-width: 280px;
    white-space: normal;
    width: 100%;
}

.studyFilterResult {
    transition: all 500ms;
    background:#eee;
    border:1px solid $borderColor;
    transform: scale(0); /* Standard syntax */
    display:flex;
    align-items:baseline;
    padding:3px 10px;
    border-radius:$border-radius-base;
    z-index:2;
    position:relative;

    > div {
        white-space: nowrap;
        &:nth-child(n+2) {
            margin-left:15px;
        }
    }

}

.studyFilterResult-enter {
    //
}

.studyFilterResult-enter-done {
    transform: scale(1); /* Standard syntax */
}

.studyViewAddChartOverlay.rc-tooltip-placement-bottomRight .rc-tooltip-arrow {
    right: 7% !important;
}

.addChartTabs {
    .nav > li > a {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .nav .active a {
        padding-top: 5px !important;
    }
    .tab-content {
        min-height: 100px !important;
        padding: 10px 0 10px 0 !important;
        .msk-tab {
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
    }
}